{% extends 'no_base.html' %}
{% block title %}{{ title }}{% endblock %}
{% block content %}
    {% if form %}
        <form action="" method="post" enctype="multipart/form-data" id="register_form" class="js-validation-from">
            {% csrf_token %}
            <fieldset class="inner_fieldset">
                <legend>{{ title }}</legend>
                <table>
                    {% for field in form %}
                        <tr>
                            <td class="label_td">{{ field.label }}
                                {% if field.field.required %}<span class="required_field">*</span>{% endif %}
                            </td>
                            <td class="input_td">{{ field }}</td>
                            {% if field.errors %}
                                <td class="error_td" width="30%">{{ field.errors }}</td>
                            {% endif %}
                        </tr>
                    {% endfor %}
                </table>
            </fieldset>
            <div class="button_holder">
                <input type="submit" value="ثبت" name="register-submit">
            </div>
        </form>
    {% else %}
        {% include 'messages.html' %}
    {% endif %}
{% endblock %}
