{% load account_template_tags %}
{% if not cluster %}
    <div id="cluster_form">
        <div>
            {{ cluster_form.is_cluster.label }}
            {{ cluster_form.is_cluster }}
            {% if cluster_form.is_cluster.errors %}
                {{ cluster_form.is_cluster.errors }}
            {% endif %}
        </div>
    </div>
{% endif %}
<div id="only_for_cluster"{% if not cluster %}
    {% if not cluster_form.is_cluster_value or cluster_form.is_cluster_value|is_false %}
     style="display: none;"{% endif %}{% endif %}>

    <fieldset class="inner_fieldset">
        <legend>اطلاعات خوشه<span class="required_field">*</span></legend>

        <table class="register_table">
            <tr>
            <td class="label_td">{{ cluster_form.name.label }}
                </td>
                <td class="input_td">{{ cluster_form.name }}</td>
                {% if cluster_form.name.errors %}
                    <td class="error_td" width="30%">{{ cluster_form.name.errors }}</td>
                {% endif %}
            </tr>
            <tr>
                <td class="label_td">{{ cluster_form.institute.label }}
                </td>
                <td class="input_td">{{ cluster_form.institute }}</td>
                {% if cluster_form.institute.errors %}
                    <td class="error_td" width="30%">{{ cluster_form.institute.errors }}</td>
                {% endif %}
            </tr>
        </table>

        {% include 'formset.html' with legend="حوزه های فعالیت" formset=cluster_domain_formset cluster=cluster%}

        {% if cluster_member_formset %}
            {% include 'formset.html' with legend="اعضای خوشه" formset=cluster_member_formset cluster=cluster%}
        {% endif %}
        <br/>

        <p>* در صورتی که خوشه مذکور برای اولین بار ثبت میگردد، بصورت پیش فرض فرد ثبت کننده سرگروه خوشه به شمار
            می آید.(نمایش شرایط و ضوابط خوشه)</p>
    </fieldset>

</div>
