<div id="cluster_form">
    <div>
        {{ cluster_form.is_cluster.label }}
        {{ cluster_form.is_cluster }}
    </div>
</div>

<div id="only_for_cluster">
    <div>
        {{ cluster_form.name.label }}
        {{ cluster_form.name }}
    </div>

    <fieldset class="formset_fieldset" id="cluster_member_fieldset">
        <legend>اعضای خوشه</legend>
        <div id="cluster_member_formset">
            {% for form in cluster_member_formset.forms %}
                <div class="formset_container">
                    <table>
                        <thead>
                        <tr>
                            <td class="label_td">
                                <span>{{ form.name.label }}    </span>
                                {% if form.name.field.required %}
                                    <span class="required_field">*
                                        </span>
                                {% endif %}
                            </td>
                            <td class="label_td">
                                <span>{{ form.email.label }}    </span>
                                {% if form.email.field.required %}
                                    <span class="required_field">*
                                        </span>
                                {% endif %}

                        </tr>
                        </thead>
                        <tr>
                            {% for field in form %}

                                <td class="input_td">
                                    {{ field }}</td>

                            {% endfor %}
                            <td class="delete_formset_td"></td>
                        </tr>
                    </table>
                </div>

            {% endfor %}

            {{ cluster_member_formset.management_form }}
        </div>
    </fieldset>
    <br/>

    <p>* در صورتی که خوشه مذکور برای اولین بار ثبت میگردد، بصورت پیش فرض فرد ثبت کننده سرگروه خوشه به شمار
        می آید.(نمایش شرایط و ضوابط خوشه)</p>
</div>
