{% extends 'base.html' %}
{% load staticfiles %}

{% block CSS %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static 'registration/register.css' %}"/>
{% endblock %}

{% block JS %}
    {{ block.super }}
    <script type="text/javascript" src="{% static "lib/jquery.formset.min.js" %}"></script>

{% endblock %}

{% block content %}
    <div class="panel panel-info" id="register_div">
        <div class="panel-heading">
            <h3 class="panel-title">فرم ثبت نام</h3>
        </div>
        <form action="" method="post" enctype="multipart/form-data" id="register_form">
            {% csrf_token %}
            <table id="register_table">
                <tr>
                    <td colspan="2">
                        <div class="input-group">
                                <span class="label label-info control-label">
                                    {{ register_form.is_cluster.label }}
                                    {{ register_form.is_cluster }}

                                </span>
                            <br/>
                            {#                                <span class="input-group-addon">#}
                            {#                                </span>#}

                        </div>
                    </td>
                </tr>
                {% for field in register_form %}
                    {% if not forloop.last %}
                        <tr>
                            <td>
                                {{ field.label }}
                            </td>
                            <td>
                                {{ field }}
                            </td>
                        </tr>
                    {% endif %}
                {% endfor %}
                <tr>
                    <td>

                    </td>
                </tr>
            </table>

            {% for form in cluster_member_formset.forms %}
                <div class="formset_container">
                    <table>
                        <tr>
                            {% for field in form %}

                                <td>{{ field.label }}: {{ field }}</td>

                            {% endfor %}
                        </tr>
                    </table>
                </div>
            {% endfor %}
            {{ cluster_member_formset.management_form }}

            <div class="button_holder">
                <input type="submit" class="btn btn-primary" value="ثبت">
            </div>
        </form>
    </div>

{% endblock %}