{% extends 'base.html' %}
{% load staticfiles %}

{% block CSS %}
    <link rel="stylesheet" type="text/css" href='/static/lib/form-validation/validationEngine.jquery.css'/>
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="/static/registration/register.css"/>
{% endblock %}

{% block JS %}
    {{ block.super }}
    <script type="text/javascript" src="/static/lib/jquery.formset.min.js"></script>
    <script type="text/javascript" src="/static/registration/register.js"></script>
    <script type="text/javascript" src='/static/lib/form-validation/languages/jquery.validationEngine-fa.js'></script>
    <script type="text/javascript" src='/static/lib/form-validation/jquery.validationEngine.js'></script>

{% endblock %}


{% block header %}فرم ثبت نام{% endblock %}
{% block content %}
    <div class="panel panel-info" id="register_div">
        <form action="" method="post" enctype="multipart/form-data" id="register_form">
            {% csrf_token %}
            {% include 'registration/cluster_form.html' %}
            {% include 'registration/register_main_form.html' %}


            <div class="button_holder">
                <input type="submit" class="btn btn-primary" value="ثبت">
            </div>
        </form>
    </div>

{% endblock %}