<fieldset class="formset_fieldset" id="resume_fieldset">
    <legend>رزومه تحصیلی</legend>
    <div id="resume_formset">
        <input type="hidden" name="formset_prefix" value="{{ resume_formset.prefix }}">

        <div class="formset_container">
            <table id="resume_table">
                <thead>
                <tr>
                    {% for field in resume_formset.forms.0 %}
                        {% if field.name != 'DELETE' %}
                        <td class="label_td"{% if field.field.widget.is_hidden %} style="display: none"{% endif %}>
                            <span>{{ field.label }}    </span>
                            {% if field.field.required %}
                                <span class="required_field">*
                                        </span>
                            {% endif %}
                        </td>
                        {% endif %}
                    {% endfor %}
                </tr>
                </thead>
                {% for form in resume_formset.forms %}
                    <tr>
                        {% for field in form %}
                            <td class="input_td{% if field.errors %} error_td{% endif %}">
                                {{ field }}
                                {% if field.errors %}
                                    {{ field.errors }}
                                {% endif %}
                            </td>
                        {% endfor %}
                        {#                        <td class="delete_formset_td"></td>#}
                    </tr>

                {% endfor %}
            </table>
            {{ resume_formset.management_form }}
            <script type="text/javascript">
                $(function () {
                    $('#resume_table tbody tr').formset({
                        prefix: '{{ resume_formset.prefix }}',
                        formCssClass: 'dynamic-formset4',
                        addText: 'افزودن',
                        deleteText: '',
                        addCssClass: 'formset_add',
                        deleteCssClass: 'formset_delete',
                        added:check_date_picker
                    });
                })
            </script>
        </div>

    </div>
</fieldset>
