<fieldset class="formset_fieldset" id="language_skills_fieldset">
    <legend>مهارت ها</legend>
    <div id="language_skills_formset">
        <input type="hidden" name="formset_prefix" value="{{ language_skill_formset.prefix }}">

        <div class="formset_container">
            <table id="language_skills_table">
                <thead>
                <tr>
                    {% for field in language_skill_formset.forms.0 %}

                        <td class="label_td"{% if field.field.widget.is_hidden %} style="display: none"{% endif %}>
                            <span>{{ field.label }}    </span>
                            {% if field.field.required %}
                                <span class="required_field">*
                                        </span>
                            {% endif %}
                        </td>
                    {% endfor %}
                </tr>
                </thead>
                {% for form in language_skill_formset.forms %}
                    <tr>
                        {% for field in form %}

                            <td class="input_td{% if field.errors %} error_td{% endif %}">
                                {{ field }}
                                {% if field.errors %}
                                    {{ field.errors }}
                                {% endif %}
                            </td>

                        {% endfor %}
                        {#                        <td class="delete_formset_td"></td>#}
                    </tr>

                {% endfor %}
            </table>
            {{ language_skill_formset.management_form }}
            <script type="text/javascript">
                $(function () {
                    $('#language_skills_table tbody tr').formset({
                        prefix: '{{ language_skill_formset.prefix }}',
                        formCssClass: 'dynamic-formset2',
                        addText: 'افزودن',
                        deleteText: '',
                        addCssClass: 'formset_add',
                        deleteCssClass: 'formset_delete'
                    });
                })
            </script>
        </div>

    </div>
    <div id="software_skills_formset">
        <input type="hidden" name="formset_prefix" value="{{ software_skill_formset.prefix }}">

        <div class="formset_container">
            <table id="software_skills_table">
                <thead>
                <tr>
                    {% for field in software_skill_formset.forms.0 %}

                        <td class="label_td"{% if field.field.widget.is_hidden %} style="display: none"{% endif %}>
                            <span>{{ field.label }}    </span>
                            {% if field.field.required %}
                                <span class="required_field">*
                                        </span>
                            {% endif %}
                        </td>
                    {% endfor %}

                </tr>
                </thead>

                {% for form in software_skill_formset.forms %}
                    <tr>
                        {% for field in form %}

                            <td class="input_td{% if field.errors %} error_td{% endif %}">
                                {{ field }}
                                {% if field.errors %}
                                    {{ field.errors }}
                                {% endif %}
                            </td>

                        {% endfor %}
                        {#                        <td class="delete_formset_td"></td>#}
                    </tr>

                {% endfor %}
            </table>
            {{ software_skill_formset.management_form }}
            <script type="text/javascript">
                $(function () {
                    $('#software_skills_table tbody tr').formset({
                        prefix: '{{ software_skill_formset.prefix }}',
                        formCssClass: 'dynamic-formset3',
                        addText: 'افزودن',
                        deleteText: '',
                        addCssClass: 'formset_add',
                        deleteCssClass: 'formset_delete'
                    });
                })
            </script>
        </div>

    </div>

</fieldset>

<br/>
{#<fieldset class="formset_fieldset" id="software_skills_fieldset">#}
{#    <legend>مهارت ها</legend>#}
{#</fieldset>#}