{% load staticfiles %}
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head>
    <title>ورود</title>
    <link rel="stylesheet" type="text/css" href="/static/lib/bootstrap/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="/static/base.css"/>
    <link rel="stylesheet" type="text/css" href="/static/accounts/login_page.css"/>
    <script type="text/javascript" src="/static/lib/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="/static/lib/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/static/base.js"></script>
</head>
<body>
<div class="container">
    <section id="content">
        <form action="" method="post" id="login_form">
            {% csrf_token %}
            <h1>ورود به سامانه</h1>

            <div>
                {{ login_form.username }}
            </div>
            <div>
                {{ login_form.password }}
            </div>
            <div style="width: 80%; position: relative; left: 10%; right: 10%;">
                <input type="button" onclick="location.href ='{% url cluster.registration.views.register %}';"
                       value="ثبت نام"/>
                <input type="submit" value="ورود"/>
            </div>
        </form>
    </section>
</div>
</body>
</html>