{% extends 'base.html' %}
{% load staticfiles %}

{% block CSS %}
    <link rel="stylesheet" type="text/css" href='/static/lib/form-validation/validationEngine.jquery.css'/>
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="/static/registration/register.css"/>
    <style>
        body{
            direction: rtl;
        }
    .art-sheet {
        width: 97%;
    }

    #inner-header {
        width: 97%;
    }
    </style>
{% endblock %}

{% block JS %}
    {{ block.super }}
    <script type="text/javascript" src="/static/lib/jquery.formset.min.js"></script>
    <script type="text/javascript" src="/static/registration/register.js"></script>
    <script type="text/javascript" src='/static/lib/form-validation/languages/jquery.validationEngine-fa.js'></script>
    <script type="text/javascript" src='/static/lib/form-validation/jquery.validationEngine.js'></script>
        {% if form %}
            {{ form.media }}
        {% endif %}

{% endblock %}

{% block title %}تنظیمات{% endblock %}
{% block header_title %}تنظیمات{% endblock %}
{% block content %}
    {% include 'messages.html' %}
    <div style="direction: rtl; height: 700px;">
        <form method="post" id="register_form" enctype="multipart/form-data">
            {% csrf_token %}
            <table style="width: 100%;">
                <tr>
                    <td style="width: 10%;">{{ form.proposal_sample.label }}</td>
                    <td style="width: 90%;">{{ form.proposal_sample }}</td>
                    <td style="width: 90%;">{{ form.proposal_sample.url }}</td>
                </tr>
                <tr>
                    <td style="width: 10%;">{{ form.banned_agents.label }}</td>
                    <td style="width: 90%;">{{ form.banned_agents }}</td>
                </tr>
            </table>
            <div class="button_holder">
                <input type="submit" value="ثبت" name="register-submit">
            </div>
        </form>
    </div>
{% endblock %}