<table id="manager_list">
    <tr>
        <td></td>
    </tr>
</table>
<div id="manager_pager"></div>
<script type="text/javascript">
    $(function () {
        var $manager = $("#manager_list");
        $manager.jqGrid({
            url: "/manager/{{ manager.manager_name }}/actions/",
            datatype: "json",
            mtype: "GET",
            direction: "rtl",
            recordpos: "left",
            colNames: [
                {% for column in manager.columns %}
                    '{{ column.column_verbose_name }}'
                    {% if not forloop.last %}
                        ,
                    {% endif %}
                {% endfor %}
            ],
            colModel: [
                {% for column in manager.columns %}
                    { name: "{{ column.column_name }}", width: '{{ column.column_width }}', align: "right" }
                    {% if not forloop.last %}
                        ,
                    {% endif %}
                {% endfor %}
            ],
            pager: "#manager_pager",
            rowNum: 10,
            rowList: [10, 20, 30],
            sortname: "id",
            sortorder: "desc",
            viewrecords: true,
            gridview: true,
            autoencode: true,
            autowidth: true,
            shrinkToFit: true,
            height: 300,
            stype: 'select',
            caption: "{{ manager.verbose_name }}",
            jsonReader: {
                root: "rows",
                page: "page",
                total: "total",
                records: "records",
                repeatitems: true,
                cell: "",
                id: "0"
            }
        });
        $manager.jqGrid('navGrid', '#manager_pager',
                {position: "right", edit: false, add: false, del: false, search: false, refresh: true });

        $('.filter-submit').click(function () {
            var new_url = '/manager/{{ manager.manager_name }}/actions/';
            var serialize_form = $('.filter-form').serialize();
            new_url = new_url + '?' + serialize_form;
            $manager.jqGrid().setGridParam({url: new_url}).trigger("reloadGrid");
            return false;
        });
    });

</script>
