{% extends 'base.html' %}
{% block CSS %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="/static/lib/jqgrid/css/ui.jqgrid.css"/>
    <link rel="stylesheet" type="text/css" href="/static/lib/fancybox/jquery.fancybox.css"/>
{% endblock %}

{% block JS %}
    {{ block.super }}
    <script type="text/javascript" src="/static/lib/jqgrid/js/jquery.jqGrid.min.js"></script>
    <script type="text/javascript" src="/static/lib/fancybox/jquery.fancybox.pack.js"></script>
{% endblock %}


{% block content %}
    {{ manager_content }}
{% endblock %}