/* http://www.menucool.com */

/*slider frame*/
body{
    font-family: B Mitra;
    background-image: url(../images/page.png);
    background-repeat: repeat;
    padding: 0;
    margin: 0;
}
#header {
    margin: 0 auto;
    position: relative;
    background-image: url('../images/header.jpg');
    background-position: center top;
    background-repeat: no-repeat;
    width: 100%;
}

#sliderFrame
{
    width:920px;
    margin:0 auto; /*center-aligned*/
    margin-top:20px;
    padding:20px;
    position: relative;
    /*box-shadow: 0 0 5px #BBB;border:1px solid #CCC; background-color:#FFF;*/
}


/* -- thumbnails -- */
#thumbs{
    position: absolute;
    right: 10px;
    top: 19px;
    width: 250px;
}
#thumbs .thumb
{
    float:left;
    margin-left:-10px;
    width:250px;
	height: 100px;
	position: relative;
	cursor: pointer;
}
#thumbs .thumb-1,.thumb-2,.thumb-3
{
	background-image:url('../images/default.png');
	background-repeat:no-repeat;
	background-position:18px 0px;
    color:#1d5987;

}
#thumbs .thumb-1{
	z-index: 400;
}
#thumbs .thumb-2{
	z-index: 300;
	margin-top: -23px;
}
#thumbs .thumb-3{
	z-index: 200;
	margin-top: -23px
}
#thumbs .thumb-4{
    color:#1d5987;
	z-index: 100;
	background-image:url('../images/default-last.png');
	background-repeat:no-repeat;
	background-position:18px 0px;
	margin-top: -23px;
}
#thumbs .thumb-1-focused,.thumb-2-focused,.thumb-3-focused{
	background-image:url('../images/hover.png');
	background-position:1px;
    color:white;
}
#thumbs .thumb-4-focused{
	background-image:url('../images/hover-last.png');
	background-position:1px;
    color:white;
}

#thumbs p{
    font-family: B Mitra;
    font-size: 20px;
    text-align: center;
    vertical-align: middle;
    font-weight:bold;
    padding:0;
    margin-top: 25px;
}
#top-button-div{
    position: relative;
    text-align: left;
    vertical-align: middle;
    width: 315px;
    float: left;
    color: #003147;
    font-family: B Mitra;
    font-size: 17px;
    height: 30px;
    margin-top: 13px;
}
#logo-name
{
    position: absolute;
    top: 5px;
    width: 150px;
    height: 65px;
    background-image: url('../images/object688063435.png');
    background-position: 0 0;
    background-repeat: no-repeat;
    z-index: 2;
    right: 60px;
}
#logo{
    position: absolute;
    top: 5px;
    width: 60px;
    height: 65px;
    background-image: url('../images/object416862152.png');
    background-position: 0 0;
    background-repeat: no-repeat;
    z-index: 3;
}
#logo-container{
    position: relative;
    float: right;
    width: 650px;
    height: 65px;
    direction: rtl;
}
/**/
#inner-header{
    width: 920px;
    position: relative;
    height: 70px;
    margin: 0 auto;
}
#upper-header{
    background-color: black;
    padding-top: 3px;
    padding-bottom: 3px;

}
#inner-upper-header{
    width: 920px;
    position: relative;
    margin: 0 auto;
    text-align: right;
    direction: rtl;
}

.btn{
    font-size: 15px;
    font-weight: bold;
}
.art-header{
    height: 60px;
}
.form-control{
    font-size: 12px;
    font-family: Tahoma;
}
#top-buttons{
    width: 100%;
    background-color: #2d2d2d;
    color: white;
}
#top-buttons-inner{
    width: 920px;
    position: relative;
    margin: 0 auto;
    height: 30px;
    direction: rtl;
}
#top-menu-ul{
    margin: 0;
    list-style: none;
    font-size: 17px;
    font-weight: bold;
}
#top-menu-ul li{
    margin-left: 30px;
    display: inline;
}
#top-menu-ul li a{
    color: white;
}
#top-menu-ul li a:hover{
    color: #0480be;
}
#introduction{
    width: 100%;
    background-color: #696969;
    background-image: url(../images/pageglare.png);
    background-position: center;
    background-repeat: no-repeat;
    color: white;
}
#inner-introduction{
    width: 920px;
    position: relative;
    margin: 0 auto;
    height: 170px;
    direction: rtl;
}
.inner-intro-div{
    margin-top: 20px;
    text-align: right;
    font-size: 20px;
    float: right;
    text-align: justify;
    width: 100%;
}
.inner-intro-div a{
    font-size: 20px;
    color: #f5f5f5;
}
.inner-intro-div td{
    font-size: 20px;
    border-bottom: 1px solid;
}

#reg-detail-container{
    width: 100%;
    margin-top: 30px;
    background-color: #1570a6;

}
#reg-detail{
    width: 920px;
    position: relative;
    margin: 0 auto;
    direction: rtl;
}
#reg-detail p{
    color:#F5F5F5;
}
#submit-detail-container{
    width: 100%;
    background-color: white;
}
#submit-detail{
    width: 920px;
    position: relative;
    margin: 0 auto;
    direction: rtl;
}

#judge-detail-container{
    width: 100%;
    background-color: #eee;
}
#judge-detail{
    width: 920px;
    position: relative;
    margin: 0 auto;
    direction: rtl;
}
#support-detail-container{
    width: 100%;
    background-color: #8A8A8A;
    color:white;
}
#support-detail{
    width: 920px;
    position: relative;
    margin: 0 auto;
    direction: rtl;
}
.art-footer{
    margin-top: 0px;
}
#user-info{
    position: relative;
    direction: rtl;
    text-align: right;
    color:#4F4F4F;
    width: 300px;
    padding: 5px;
    border-color: #FFF838;
    border-width: thin;
    border-style: solid;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    margin-top: -8px;
    font-family: B Mitra;
    font-size: 16px;
    font-weight: bold;
}
#exit-button{
    border-style: solid;
    padding: 5px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    border-width: thin;
    text-decoration: none;
    position: absolute;
    left: 10px;
    top: 12px;
    width: 50px;
    font-family: B Mitra;
    font-size: 15px;
    text-align: center;
    border-color: #FFF838;
    color: #388EFF;
    background-color: #FFF838;
}
#exit-button:hover{
    background-color: #FFE44D;
}
.slide{
    direction: rtl;
    background-color: white;
    width: 680px;
    height: 310px;
}
.slide h1{
    font-family: B Mitra;
    font-size: 35px;
    font-weight: normal;
    margin-top: 5px;
    margin-bottom: 5px;
}

/*slide 1*/

#slide-1{
    background-image: url(../images/register.jpg);
}
#slide-1 .slide-paragraph{
    font-size: 20px;
    margin: 20px;
    width: 350px;
    text-align: justify;
}
/*slide 3*/
#slide-3{
    background-image: url(../images/judge.jpg);
}
#slide-3 .slide-paragraph{
    font-size: 20px;
    color:white;
    margin: 20px;
    width: 350px;
    text-align: justify;
}
#slide-3 h1{
    color:white;
}
/*slide 2*/
#slide-2{
    background-image: url(../images/project3.jpg);
}
#slide-2 .slide-paragraph{
    font-size: 20px;
    color:black;
    margin: 20px;
    width: 350px;
    text-align: justify;
}
#slide-2 h1{
    color:#003147;
}
/*slide 4*/
.detail-content{
    padding-top: 20px;
    padding-bottom: 20px;
}
.detail-content h2{
    font-family: B Mitra;
    font-size: 35px;
    font-weight: bold;

}

.detail-content p{
    font-family: B Mitra;
    font-size: 17px;
    font-weight: bold;
    text-align: justify;
}
.detail-content ol li{
    font-family: B Mitra;
    font-size: 17px;
    font-weight: bold;
    text-align: justify;
}
#judge-detail table td{
    padding: 10px;
    font-family: B Mitra;
    font-size: 17px;
    font-weight: bold;
    text-align: justify;
}
#judge-detail table{
    border-collapse:separate;
    border-spacing : 3px;
    width: 500px    ;
}
#slide-4{
    background-image: url(../images/support.jpg);
}
#slide-4 .slide-paragraph{
    font-size: 20px;
    color:white;
    margin: 20px;
    width: 350px;
    text-align: justify;
}
#slide-4 h1{
    color:white;
}
.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.container:before, .container:after {
    display: table;
    content: " ";
}
.container {
    max-width: 1170px;
}
#logo-container ul{
    list-style-type: none;
    margin-right: 170px;
    margin-top: 20px;
}
#logo-container ul li{
    display: inline;
    margin-right: 30px;
}
#logo-container ul li a{
    font-size: 17px;
    font-weight: bold;
    color: #4F4F4F;
    text-decoration: none;
}
#logo-container ul li a:hover{
    color: black;
}