#login {
    position: absolute;
    height: 200px;
    width: 20%;
    top: 30%;
    left: 40%;
    direction: ltr;
}

#login div {
    width: 100%;
}

.button_holder input, .button_holder a {
    margin-top: 5px;
    width: 100%;
}

body {

    background: rgb(255, 255, 255) url('../layout/images/page.png') fixed;
    background: url('../layout/images/pageglare.png') no-repeat, linear-gradient(top, rgba(198, 198, 198, 0.05) 0, rgba(255, 255, 255, 0.16) 500px) no-repeat, url('../layout/images/page.png'), linear-gradient(top, rgb(217, 217, 217) 0, rgb(255, 255, 255) 500px) no-repeat;
    background: url('../layout/images/pageglare.png') no-repeat, -webkit-linear-gradient(top, rgba(198, 198, 198, 0.05) 0, rgba(255, 255, 255, 0.16) 500px) no-repeat, url('../layout/images/page.png'), -webkit-linear-gradient(top, rgb(217, 217, 217) 0, rgb(255, 255, 255) 500px) no-repeat;
    background: url('../layout/images/pageglare.png') no-repeat, -moz-linear-gradient(top, rgba(198, 198, 198, 0.05) 0, rgba(255, 255, 255, 0.16) 500px) no-repeat, url('../layout/images/page.png'), -moz-linear-gradient(top, rgb(217, 217, 217) 0, rgb(255, 255, 255) 500px) no-repeat;
    background: url('../layout/images/pageglare.png') no-repeat, -o-linear-gradient(top, rgba(198, 198, 198, 0.05) 0, rgba(255, 255, 255, 0.16) 500px) no-repeat, url('../layout/images/page.png'), -o-linear-gradient(top, rgb(217, 217, 217) 0, rgb(255, 255, 255) 500px) no-repeat;
    background: url('../layout/images/pageglare.png') no-repeat, -ms-linear-gradient(top, rgba(198, 198, 198, 0.05) 0, rgba(255, 255, 255, 0.16) 500px) no-repeat, url('../layout/images/page.png'), -ms-linear-gradient(top, rgb(217, 217, 217) 0, rgb(255, 255, 255) 500px) no-repeat;
    background: url('../layout/images/pageglare.png') no-repeat, linear-gradient(top, rgba(198, 198, 198, 0.05) 0, rgba(255, 255, 255, 0.16) 500px) no-repeat, url('../layout/images/page.png'), linear-gradient(top, rgb(217, 217, 217) 0, rgb(255, 255, 255) 500px) no-repeat;
    -svg-background: url('images/pageglare.png') no-repeat, linear-gradient(top, rgba(198, 198, 198, 0.05) 0, rgba(255, 255, 255, 0.16) 500px) no-repeat, url('../layout/images/page.png'), linear-gradient(top, #D9D9D9 0, #FFFFFF 500px) no-repeat;
    background-attachment: fixed, fixed, fixed, fixed !important;
    margin: 0 auto;
    font-size: 13px;
    font-weight: normal;
    font-style: normal;
    width: 100%;
    min-height: 100%;
    cursor: default;
    overflow: hidden;
}