@font-face {
    font-family: "B Mitra";
    src: url("fonts/B%20Mitra.ttf") format("truetype");
}

@font-face {
    font-family: "B Mitra";
    src: url("fonts/B%20Mitra.eot") /* EOT file for IE */
}

@font-face {
    font-family: "B Mitra";
    src: url("fonts/B%20Mitra.woff") /* EOT file for IE */
}

@font-face {
    font-family: "B Mitra Bold";
    src: url("fonts/B%20Mitra%20Bold.ttf") format("truetype");
}

@font-face {
    font-family: "B Mitra";
    src: url("fonts/B%20Mitra%20Bold.eot") /* EOT file for IE */
}

@font-face {
    font-family: "B Mitra";
    src: url("fonts/B%20Mitra%20Bold.woff") /* EOT file for IE */
}

body {
    direction: rtl;
    font-family: B Mitra;
    padding: 0;
    margin: 0;

}

h1, h2, h3, h4, h5, h6, p, a, ul, ol, li {
    font-family: B Mitra;

}

input[type="text"], input[type="password"], input[type="email"], input[type="url"], textarea {
    background: #FFF;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    border: 1px solid #ADBDBC;
    margin: 0 auto;
    width: 60%;
    font-family: B Mitra;
}

select {
    font-family: B Mitra;

}

.art-postcontent, .art-postheadericons, .art-postfootericons, .art-blockcontent, ul.art-vmenu a {
    text-align: right;
}

.art-sheet {
    margin-top: 10px;
}

.art-post {
    background-color: #fff;
}

.art-article th, .art-article td {
    border: 0;
}

.art-block {
    margin-top: 10px;
    background: rgb(255, 255, 255);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: 0 0 3px 2px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 0 3px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0 0 3px 2px rgba(0, 0, 0, 0.3);
    padding: 3px;
}

.art-content-layout .art-content {
    padding-right: 10px;
}

ul.art-hmenu>li>a, ul.art-vmenu>li>a {
    background-color: #eeeeff;

}

.art-footer {
    height: 30px;
}

.art-footer-inner {
    padding: 8px;
}

/* forms */
.required_field {
    color: red;
}

.input_td input[type="text"], .input_td input[type="password"], .input_td input[type="email"], .input_td input[type="url"], .input_td input[type="file"], .input_td select, .input_td ul {
    float: right;
}

.label_td {
}

#register_div ul, #register_div ul li {
    display: inline;
}

.art-postcontent ul>li:before, .art-post ul>li:before, .art-textblock ul>li:before {
    content: none;
}

/* validation Engine */
.formError {
    margin-left: -7px;
    margin-top: -4px !important;
}

.formError .formErrorContent {
    /*background: rgba(255, 34, 17, 0.8);*/
    background: rgba(255, 148, 148, 0.8);
    color: rgb(0, 0, 0);
    direction: rtl;
    text-align: right;
}

/* formset */
.formset_delete {
    background: #f78096;
    background: -moz-linear-gradient(top, #f78096 0%, #f56778 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f78096), color-stop(100%, #f56778));
    background: -webkit-linear-gradient(top, #f78096 0%, #f56778 100%);
    background: -o-linear-gradient(top, #f78096 0%, #f56778 100%);
    background: -ms-linear-gradient(top, #f78096 0%, #f56778 100%);
    background: linear-gradient(top, #f78096 0%, #f56778 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#f78096', endColorstr = '#f78096', GradientType = 0);
    padding: 2px 4px;
    color: #fff;
    font-size: 12px;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border: 1px solid #ae4553;
    text-decoration: none;

}

.formset_delete:hover {
    background: #f7a0bb;

}

.formset_add {
    background: #5CCD00;
    background: -moz-linear-gradient(top, #5CCD00 0%, #4AA400 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #5CCD00), color-stop(100%, #4AA400));
    background: -webkit-linear-gradient(top, #5CCD00 0%, #4AA400 100%);
    background: -o-linear-gradient(top, #5CCD00 0%, #4AA400 100%);
    background: -ms-linear-gradient(top, #5CCD00 0%, #4AA400 100%);
    background: linear-gradient(top, #5CCD00 0%, #4AA400 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#5CCD00', endColorstr = '#4AA400', GradientType = 0);
    padding: 3px 15px;
    color: #fff;
    font-size: 16px;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border: 1px solid #459A00;
    text-decoration: none;
    margin-top: 7px;
}

.formset_add:hover {
    background: #5CdD33;
}

.formset_container {
    margin-bottom: 20px;
}

button, input[type=submit] {
    border: 1px solid #8ec1da;
    background-color: #ddeef6;
    border-radius: 4px;
    box-shadow: inset 0 1px 3px #fff, inset 0 -15px #cbe6f2, 0 0 3px #8ec1da;
    -o-box-shadow: inset 0 1px 3px #fff, inset 0 -15px #cbe6f2, 0 0 3px #8ec1da;
    -webkit-box-shadow: inset 0 1px 3px #fff, inset 0 -15px #cbe6f2, 0 0 3px #8ec1da;
    -moz-box-shadow: inset 0 1px 3px #fff, inset 0 -15px #cbe6f2, 0 0 3px #8ec1da;
    color: #3985a8;
    text-shadow: 0 1px #fff;
    padding: 5px 30px;
}

button, input[type=submit]:hover {
    padding: 5px 29px;
    text-shadow: 0;
    background-color: #ddfeff;
    box-shadow: inset 0 1px 3px #fff, inset 0 -15px #ddfeff, 0 0 3px #8ec1da;
    -o-box-shadow: inset 0 1px 3px #fff, inset 0 -15px #ddfeff, 0 0 3px #8ec1da;
    -webkit-box-shadow: inset 0 1px 3px #fff, inset 0 -15px #ddfeff, 0 0 3px #8ec1da;
    -moz-box-shadow: inset 0 1px 3px #fff, inset 0 -15px #ddfeff, 0 0 3px #8ec1da;
    cursor: pointer;

}

form fieldset legend {
    background: rgb(238, 238, 255);
    border: solid 1px lightblue;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    padding: 6px;
}
