{% load account_template_tags %}
<!DOCTYPE html>
<html dir="ltr" lang="en-US">
<head><!-- Created by Artisteer v4.1.0.60046 -->
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>{% block title %}صفحه اصلی{% endblock %}</title>
    <meta name="viewport" content="initial-scale = 1.0, maximum-scale = 1.0, user-scalable = no, width = device-width">

    <!--[if lt IE 9]><script src="https://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
    <link rel="stylesheet" href="/static/layout/style.css" media="screen">
    <!--[if lte IE 7]><link rel="stylesheet" href="/static/layout/style.ie7.css" media="screen" /><![endif]-->
    <link rel="stylesheet" href="/static/layout/style.responsive.css" media="all">



    {% block CSS %}
        <link rel="stylesheet" type="text/css" href="/static/base.css"/>
        <link rel="stylesheet" type="text/css" href="/static/lib/jquery-ui/jquery-ui-1.10.3.custom.min.css"/>

    {% endblock %}
    {% block JS %}
        <script type="text/javascript" src="/static/lib/jquery-1.10.2.min.js"></script>
        <script type="text/javascript" src="/static/lib/jquery-ui/jquery-ui-1.10.3.custom.min.js"></script>
        <script src="/static/layout/script.js"></script>
        <script src="/static/layout/script.responsive.js"></script>
        <script type="text/javascript" src="/static/base.js"></script>
    {% endblock %}


    <style>.art-content .art-postcontent-0 .layout-item-0 {
        padding-right: 10px;
        padding-left: 10px;
    }

    .ie7 .art-post .art-layout-cell {
        border: none !important;
        padding: 0 !important;
    }

    .ie6 .art-post .art-layout-cell {
        border: none !important;
        padding: 0 !important;
    }

    </style>
</head>
<body>
<div id="art-main">
    <header class="art-header">

        <div class="art-shapes">

        </div>


    </header>
    {#    <nav class="art-nav">#}
    {#        <ul class="art-hmenu">#}
    {#            <li><a href="مشاهده-طرح-های-ثبت-شده.html">مشاهده طرح های ثبت شده</a></li>#}
    {#            <li><a href="{% url cluster.registration.views.register %}">ثبت نام</a></li>#}
    {#            <li><a href="{% url cluster.account.views.auth.login_view %}">صفحه اصلی</a></li>#}
    {#        </ul>#}
    {#    </nav>#}
    <div class="art-sheet clearfix">
        <div class="art-layout-wrapper">
            <div class="art-content-layout">
                <div class="art-content-layout-row">
                    <div class="art-layout-cell art-sidebar1">
                        <div class="art-vmenublock clearfix">
                            <div class="art-vmenublockcontent">
                                <ul class="art-vmenu">
                                    <li><a href="{% url cluster.account.views.auth.login_view %}" class="active">صفحه
                                        اصلی</a></li>
                                    <li><a href="{% url cluster.registration.views.register %}">ثبت نام</a></li>
                                    <li><a href="{% url cluster.account.views.auth.login_view %}">مشاهده طرح های ثبت
                                        شده</a></li>
                                </ul>

                            </div>
                        </div>
                        <div class="art-block clearfix login-box" style="text-align: center;">
                            {% if user.is_anonymous %}
                                <form action="" method="post" id="login_form">
                                    {% csrf_token %}
                                    <div class="art-blockheader">
                                        <h3 class="t">ورود به سامانه</h3>
                                    </div>
                                    <div class="art-blockcontent">
                                        <div>
                                            {{ login_form.username }}
                                        </div>
                                        <div>
                                            {{ login_form.password }}
                                        </div>
                                        <div style="width: 80%; position: relative; left: 10%; right: 10%;">
                                            <input type="submit" value="ورود" name="login-submit"/>
                                            <button class="button_link"
                                                    onclick="location.href ='{% url cluster.registration.views.register %}';"
                                                    >ثبت نام
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            {% else %}
                                <div class="art-blockheader">
                                    <p>{% welcome_st user %}</p>
                                    <a class="button_link" href="{% url logout %}">خروج</a>
                                </div>

                            {% endif %}
                        </div>
                        <div class="art-block clearfix">
                            <div class="art-blockheader">
                                <h3 class="t">Block</h3>
                            </div>
                            <div class="art-blockcontent"><p>Enter Block content here...</p>
                                <br>

                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam pharetra, tellus
                                    sit
                                    amet congue vulputate, nisi erat iaculis nibh, vitae feugiat sapien ante eget
                                    mauris.</p></div>
                        </div>
                    </div>
                    <div class="art-layout-cell art-content">
                        <article class="art-post art-article">
                            <div class="art-postmetadataheader">
                                <h2 class="art-postheader">{% block header %}{% endblock %}</h2>
                            </div>
                            {% block content %}
                            {% endblock %}
                        </article>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <footer class="art-footer">
        <div class="art-footer-inner">
            <p>تمامی حقوق این سایت متعلق به موسسه پژوهشی نگاه نو میباشد</p>

        </div>
    </footer>


</div>
</div>


</body>
</html>