<fieldset class="formset_fieldset">
    <legend>{{ legend }}<span class="required_field">*</span></legend>
    <div id="{{ formset.prefix }}_formset">
        <input type="hidden" name="formset_prefix" value="{{ formset.prefix }}">
        {% if formset.prefix != 'cluster_domain' %}
            <div style="padding: 4px;">
                این قسمت به منظور تقسیم بندی خوشه ها در حوزه های مشخص تهیه شده است، از این رو سرگروه خوشه باید یک یا چند حوزه فعالیتی خوشه را در ابتدای فرآیند ثبت نام درج نماید.            </div>
                چند حوزه فعالیتی خوشه را در ابتدای فرایند ثبت نام درج نماید.
        {% endif %}

        <div class="formset_container">

            <table id="{{ formset.prefix }}_table">
                <thead>
                <tr>
                    {% for field in formset.forms.0 %}
                        {% if field.name != 'DELETE' %}
                            <td class="label_td"{% if field.field.widget.is_hidden %}
                                style="display: none"{% endif %}>
                                <span>{{ field.label }}    </span>
                                {#                                {% if field.field.required %}#}
                                {#                                    <span class="required_field">*#}
                                {#                                        </span>#}
                                {#                                {% endif %}#}
                            </td>
                        {% endif %}
                    {% endfor %}
                </tr>
                </thead>
                {% for form in formset.forms %}
                    <tr>
                        {% for field in form %}
                            {% if field.field.widget.input_type == 'hidden' %}
                                {{ field }}
                            {% else %}
                                <td class="input_td{% if field.errors %} error_td{% endif %}">
                                    {% if field.name != 'DELETE' %}
                                        {{ field }}
                                    {% else %}
                                        <input type="hidden" name="{{ field.html_name }}" id="{{ field.auto_id }}">
                                    {% endif %}
                                    {% if field.errors %}
                                        {{ field.errors }}
                                    {% endif %}
                                </td>
                            {% endif %}
                        {% endfor %}
                        {#                            <td class="delete_formset_td"></td>#}
                    </tr>

                {% endfor %}
            </table>
            {{ formset.management_form }}
            {% if not formset.readonly %}
                <script type="text/javascript">
                    $(function () {
                        var $formset_tr = $('#' + '{{ formset.prefix }}' + '_table tbody tr');
                        $formset_tr.formset({
                            prefix: '{{ formset.prefix }}',
                            formCssClass: 'dynamic-formset',
                            addText: 'افزودن',
                            deleteText: '',
                            addCssClass: 'formset_add',
                            deleteCssClass: 'formset_delete',
                            added: function check_date_picker() {
                                var $date_fields = $('.' + $(this)[0].formCssClass).last().find('.hasDatepicker');
                                $date_fields.removeClass('hasDatepicker');
                                $date_fields.datepicker({
                                    changeMonth: true,
                                    changeYear: true,
                                    yearRange: '1300,1400',
                                    dateFormat: 'yy/mm/dd'
                                });
                                $('#' + '{{ formset.prefix }}' + '_table tbody tr').find('input[type=text], select').attr('data-prompt-position', 'topLeft:-100');
                            }

                        });

                        $formset_tr.find('input[type=text], select').attr('data-prompt-position', 'topLeft:-100');
                        {% if formset.prefix != 'cluster_domain' %}
                            $formset_tr.each(function () {
                                var all_fields_name = [];
                                $(this).find('input[type=text], select').each(function () {
                                    all_fields_name.push($(this).attr('id'));
                                });
                                $(this).find('input[type=text], select').each(function () {
                                    if ($(this).attr('name').indexOf('end_year') == -1) {
                                        var cls_attr = $(this).attr('class');
                                        var new_cls_attr = cls_attr.substring(0, cls_attr.lastIndexOf(']')) + 'condRequired[' + all_fields_name + ']' + cls_attr.substring(cls_attr.lastIndexOf(']'));
                                        $(this).removeClass(cls_attr);
                                        $(this).addClass(new_cls_attr);
                                    }
                                });
                            });
                        {% endif %}
                    });
                </script>
            {% endif %}
        </div>

    </div>
</fieldset>
