{% load staticfiles %}
<!DOCTYPE html>
<html dir="ltr" lang="en-US"><head><!-- Created by Artisteer v4.1.0.60046 -->
    <meta charset="utf-8">
    <title>Home</title>
    <meta name="viewport" content="initial-scale = 1.0, maximum-scale = 1.0, user-scalable = no, width = device-width">
    <link href="{% static 'base.css'%}" rel="stylesheet" type="text/css" />
{#    <script src="{% static 'intro/js/js-image-slider.js'%}" type="text/javascript"></script>#}

    <!--[if lt IE 9]><script src="https://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
    <link rel="stylesheet" href="{% static 'intro/css/style.css' %}" media="screen">
    <link href="{% static 'intro/css/js-image-slider.css'%}" rel="stylesheet" type="text/css" />
    <!--[if lte IE 7]><link rel="stylesheet" href="style.ie7.css" media="screen" /><![endif]-->
    <link rel="stylesheet" href="{% static 'intro/css/style.responsive.css' %}" media="all">
    <script type="text/javascript" src="{% static 'lib/jquery-1.10.2.min.js' %}"></script>
    <script type="text/javascript" src="/static/lib/jquery-ui/jquery-ui-1.10.3.custom.min.js"></script>
    <script type="text/javascript" src="/static/datepicker/scripts/jquery.ui.core.js"></script>

    <script type="text/javascript" src="{% static 'lib/jquery.cycle.all.js' %}"></script>

    <script src="{% static 'intro/js/script.js' %}"></script>
    <script src="{% static 'intro/js/script.responsive.js' %}"></script>
    <script src="{% static 'intro/js/script.responsive.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="/static/lib/jquery-ui/jquery-ui-1.10.3.custom.min.css"/>


    <style>.art-content .art-postcontent-0 .layout-item-0 { padding-right: 10px;padding-left: 10px;  }
    .ie7 .art-post .art-layout-cell {border:none !important; padding:0 !important; }
    .ie6 .art-post .art-layout-cell {border:none !important; padding:0 !important; }

    </style>
    <script>
        $(document).ready(function(){
            $('#slider').cycle({
                fx:    'scrollRight',
                sync:  1,
                delay: -2000,
                before: function(currSlideElement, nextSlideElement, options, forwardFlag){
                    var curr_class = $(currSlideElement).attr('target-button');
                    var next_class = $(nextSlideElement).attr('target-button');
                    if (curr_class != next_class){
                        $("."+next_class).addClass(next_class+"-focused");
                        $("."+curr_class).removeClass(curr_class+"-focused");
                    }

                }
            });
            $(".thumb-1").click(function(){
                $('#slider').cycle(0);
                return false;
            });
            $(".thumb-2").click(function(){
                $('#slider').cycle(1);
                return false;
            });
            $(".thumb-3").click(function(){
                $('#slider').cycle(2);
                return false;
            });
            $(".thumb-4").click(function(){
                $('#slider').cycle(3);
                return false;
            });
        });
    </script>
</head>
<body>
<div id="art-main">
    <header class="art-header">

        <div class="art-shapes">

            <div class="inside-header">
                <div class="art-object688063435" data-left="76.35%"></div>
                <div class="art-object416862152" data-left="84.02%"></div>

                    {% csrf_token %}
                    <div class="sign-in-div">
                            <a id="intro-login-submit" href="{% url cluster.account.views.auth.login_view %}">ورود</a>
                                <a id="intro-signup" href="{% url cluster.registration.views.register %}">ثبت نام</a>
                    </div>


            </div>



        </div>


    </header>
    <div class="art-sheet clearfix">
        <div class="art-layout-wrapper">
            <div class="art-content-layout">
                <div class="art-content-layout-row">
                    <div class="art-layout-cell art-content">
                        <div id="sliderFrame">
                            <div id="slider">
                                <img target-button="thumb-1" width="680" height="306" src="{% static 'intro/images/register.jpg'%}" />
                                <img target-button="thumb-2" width="680" height="306" src="{% static 'intro/images/image-slider-2.jpg'%}"/>
                                <img target-button="thumb-3" width="680" height="306" src="{% static 'intro/images/image-slider-3.jpg'%}"/>
                                <img target-button="thumb-4" width="680" height="306" src="{% static 'intro/images/image-slider-4.jpg'%}" />
                            </div>
                            <!--thumbnails-->
                            <div id="thumbs">
                                <div class="thumb thumb-1 thumb-1-focused">
                                    <div class="thumb-content"><p>ثبت نام در سامانه</p></div>
                                    <div style="clear:both;"></div>
                                </div>
                                <div class="thumb thumb-2 selected-thumb">
                                    <div class="thumb-content"><p>ثبت و ارسال طرح</p></div>
                                    <div style="clear:both;"></div>
                                </div>
                                <div class="thumb thumb-3">
                                    <div class="thumb-content"><p>داوری</p></div>
                                    <div style="clear:both;"></div>
                                </div>
                                <div class="thumb thumb-4">
                                    <div class="thumb-content"><p>حمایت مادی و معنوی</p></div>
                                    <div style="clear:both;"></div>
                                </div>
                            </div>
                            <!--clear above float:left elements. It is required if above #slider is styled as float:left. -->
                            <div style="clear:both;height:0;"></div>
                        </div>
{#         #}
{#               <article class="art-post art-article">#}
{#                        <h2 class="art-postheader">Home</h2>#}
{##}
{#                        <div class="art-postcontent art-postcontent-0 clearfix"><div class="art-content-layout">#}
{#                            <div class="art-content-layout-row">#}
{#                                <div class="art-layout-cell layout-item-0" style="width: 100%" >#}
{#                                    <br>#}
{#                                    <p>Enter Page content here...</p>#}
{#                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam pharetra, tellus sit amet congue vlputate, nisi erat iaculis nibh, vitae feugiat sapien ante eget mauris.&nbsp;Aenean sollicitudin imperdiet arcu, vitae dignissim est posuere id.</p>#}
{#                                    <p><a href="#">Read more</a></p>#}
{#                                </div>#}
{#                            </div>#}
{#                        </div>#}
{#                            <div class="art-content-layout">#}
{#                                <div class="art-content-layout-row">#}
{#                                    <div class="art-layout-cell layout-item-0" style="width: 50%" >#}
{#                                        <ul>#}
{#                                            <li>Suspendisse pharetra auctor pharetra. Nunc a sollicitudin est.</li>#}
{#                                            <li>Donec vel neque in neque porta venenatis sed sit amet lectus.</li>#}
{#                                            <li>Curabitur ullamcorper gravida felis, sit amet scelerisque lorem iaculis sed.</li>#}
{#                                        </ul>#}
{#                                    </div><div class="art-layout-cell layout-item-0" style="width: 50%" >#}
{#                                    <blockquote style="margin: 10px 0">Nunc a sollicitudin est. Curabitur ullamcorper gravida felis, sit amet scelerisque lrem iaculis sed. Donec vel neque in neque porta venenatis sed sit amet lectus.</blockquote>#}
{#                                </div>#}
{#                                </div>#}
{#                            </div>#}
{#                        </div>#}
{##}
{##}
{#                    </article></div>#}
                </div>
            </div>
        </div>
    </div>
    <footer class="art-footer">
        <div class="art-footer-inner">
            <p>تمامی حقوق این سایت&nbsp;</p>
            <p class="art-page-footer">
                <span id="art-footnote-links"><a href="http://www.artisteer.com/" target="_blank">Web Template</a> created with Artisteer.</span>
            </p>
        </div>
    </footer>

</div>


</body></html>