{% load staticfiles %}
{% load account_template_tags %}
{% load date_template_tags %}
<!DOCTYPE html>
<html dir="ltr" lang="en-US">
<head><!-- Created by Artisteer v4.1.0.60046 -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <meta name="viewport" content="initial-scale = 1.0, maximum-scale = 1.0, user-scalable = no, width = device-width">
    <!--[if lt IE 9]><script src="https://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
    <!--[if lte IE 7]><link rel="stylesheet" href="style.ie7.css" media="screen" /><![endif]-->
    <script type="text/javascript" src="{% static 'lib/jquery-1.10.2.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'lib/jquery.cycle.all.js' %}"></script>
    <script type="text/javascript" src="{% static 'lib/jquery.scrollTo.min.js' %}"></script>
    <link href="{% static 'mybootstrap.css' %}" rel="stylesheet" media="screen">
{#    <link href="{% static 'lib/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet" media="screen">#}
    <link href="{% static 'intro/css/intro.css' %}" rel="stylesheet" type="text/css"/>
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="../../assets/js/html5shiv.js"></script>
      <script src="../../assets/js/respond.min.js"></script>
    <![endif]-->
    <script src="{% static 'lib/bootstrap/js/bootstrap.min.js' %}"></script>


    <style>.art-content .art-postcontent-0 .layout-item-0 {
        padding-right: 10px;
        padding-left: 10px;
    }

    .ie7 .art-post .art-layout-cell {
        border: none !important;
        padding: 0 !important;
    }

    .ie6 .art-post .art-layout-cell {
        border: none !important;
        padding: 0 !important;
    }

    </style>
    <script>
        $(document).ready(function () {
            $('#slider').cycle({
                fx: 'scrollRight',
                sync: 1,
                delay: 1000000,
                before: function (currSlideElement, nextSlideElement, options, forwardFlag) {
                    var curr_class = $(currSlideElement).attr('target-button');
                    var next_class = $(nextSlideElement).attr('target-button');
                    if (curr_class != next_class) {
                        $("." + next_class).addClass(next_class + "-focused");
                        $("." + curr_class).removeClass(curr_class + "-focused");
                    }

                }
            });
            $('#inner-introduction').cycle({
                sync: false,
                fx: 'scrollDown',
                timeout: 0,
                next: '#aboutus-button',
                prev: "#back-button"
            });
            $(".thumb-1").click(function () {
                $('#slider').cycle(0);
                return false;
            });
            $(".thumb-2").click(function () {
                $('#slider').cycle(1);
                return false;
            });
            $(".thumb-3").click(function () {
                $('#slider').cycle(2);
                return false;
            });
            $(".thumb-4").click(function () {
                $('#slider').cycle(3);
                return false;
            });
            $("#login-button").click(function () {
                $('#upper-header').slideToggle();
                return false;
            });
            $("#register-scroll-button").click(function(){
                $.scrollTo( $('#reg-detail'), 800);
                return false;
            });
            $("#submit-scroll-button").click(function(){
                $.scrollTo( $('#submit-detail'), 800);
                return false;
            });
            $("#judge-scroll-button").click(function(){
                $.scrollTo( $('#judge-detail'), 800);
                return false;
            });
        });
    </script>
</head>
<body>
{% if not user.is_authenticated %}
    <div id="upper-header" style="display: none;">
        <div id="inner-upper-header">
            <form class="form-inline" role="form" method="post" action="{% url account.views.auth.login_view %}">
                {% csrf_token %}
                <div class="form-group">
                    <label class="white-label" for="id_username">نام کاربری</label>
                    <input type="username" class="form-control" id="id_username" name="username"
                           placeholder="نام کاربری">
                </div>
                <div class="form-group">
                    <label class="white-label" for="id_password">گذرواژه</label>
                    <input type="password" class="form-control" id="id_password" name="password" placeholder="گذرواژه">
                </div>
                <button type="submit" class="btn btn-default">ورود</button>
            </form>
        </div>
    </div>
{% endif %}
<div id="header">
    <div id="inner-header">
        <div id="logo-container">
            <div id="logo"></div>
            <div id="logo-name"></div>
            {% if user|check_role:"member" %}
                <ul>
                    <li><a href="{% url edit_accounts %}">پروفایل</a></li>
                    <li><a href="/projects/">طرح های من</a></li>
                    <li><a href="/messages/">جعبه پیام</a></li>
                </ul>
            {% endif %}
            {% if user|check_role:"admin" %}
                <ul>
                    <li><a href="{% url edit_accounts %}">پروفایل</a></li>
                    <li><a href="/projects/">مدیریت طرح ها</a></li>
                    <li><a href="/messages/">مدیریت افراد</a></li>
                    <li><a href="/messages/">جعبه پیام</a></li>
                </ul>
            {% endif %}
            {% if user|check_role:"arbiter" %}
                <ul>
                    <li><a href="{% url edit_accounts %}">پروفایل</a></li>
                    <li><a href="/projects/">داوری طرح ها</a></li>
                    <li><a href="/messages/">جعبه پیام</a></li>
                </ul>
            {% endif %}
        </div>

        <div id="top-button-div">

            {% if not user.is_authenticated %}
                <a class="btn btn-default" id="aboutus-button" href="#">درباره ما</a>
                <a class="btn btn-default" id="login-button"
                   href="{% url cluster.account.views.auth.login_view %}">ورود</a>
                <a class="btn btn-danger" href="{% url cluster.registration.views.register %}">ثبت نام</a>
            {% else %}
                <div id="user-info">
                    <div id="welcome">{% welcome_st user %}</div>
                    <div id="today-date">{{ today|persian_date }}</div>
                    <a id="exit-button" href="{% url logout %}">خروج</a>
                </div>
            {% endif %}
        </div>

    </div>
</div>
<div id="introduction">
    <div id="inner-introduction">
        <div class="inner-intro-div">
            موسسه پژوهشی نگاه نو، نهادی غیردولتی و غیرسیاسی بوده که به منظور حمایت و توانمند سازی نخبگان، استعدادهای درخشان و گروه های جوان و نوپا (دارای توان بالقوه توسعه و آینده روشن اقتصادی در زمینه های مختلف علمی و صنعتی)، در سال 1392 شکل گرفته است. این موسسه با در اختیار گذاشتن منابع مالی و تجارب مدیریتی خود به جوانان نخبه، امکانات لازم جهت انجام پژوهش، ایجاد زیرساخت، طرح ایده و تبدیل آن به محصول را فراهم می کند. از جمله اهداف بنیادی این موسسه سرمایه گذاری در طرح ها و ایده هایی می باشد که  روش کاری نوین و یا تکنولوژی جدید را در بر گیرد.         </div>
        <div class="inner-intro-div">
            <p>متن درباره ما</p>

            <p>تلفن: 44773388</p>

            <p>فکس: 33434343</p>

            <a class="btn btn-primary" id="back-button" href="#">بازگشت</a>
        </div>
    </div>
</div>
<div id="sliderFrame">
    <div id="slider">
        <div target-button="thumb-1" style="width: 680px;height: 306px;">
            <div id="slide-1" class="slide">
                <div class="container">
                    <h1>اولین قدم ثبت نام در سامانه است</h1>

                    <p class="slide-paragraph" style="margin-top: -0px;width: 320px;">
                        جهت استفاده از امکانات و تسهیلات مؤسسه، قبل از هر اقدامی به منظور معرفی فرد نخبه یا صاحب طرح باید فرآیند ثبت نام در سامانه صورت پذیرد.                    </p>

                    <p class="slide-paragraph" style="width: 90%;margin-top: -10px;">این مرحل از آنجایی اهمیت می یابد که
                        این مرحله از آنجایی اهمیّت می یابد که حتی اگر نخبه، دارای طرح یا ایده نباشد، با توجه به سوابق تحصیلی یا کاری امکان معرفی او جهت همکاری در پروژه های مرتبط فراهم خواهد شد.
                    <p><a class="btn btn-primary btn-lg" style="margin-right: 30px;margin-top:-10px;" href="#"  id="register-scroll-button">
                    جزئیات ثبت نام
                    </a></p>
                </div>
            </div>
        </div>
        <div target-button="thumb-2" style="width: 680px;height: 306px;">
            <div id="slide-2" class="slide">
                <div class="container">
                    <h1>طرح خود را برای ما ارسال کنید</h1>

                    <p class="slide-paragraph">
                        بعد از ثبت نام در قالب فردی یا خوشه ای، باید طرح پیشنهادی به مؤسسه معرفی گردد. برای آگاهی از نحوه معرفی طرح بر روی دکمه زیر کلیک نمایید.س                    </p>

                    <p><a id="submit-scroll-button" class="btn btn-primary btn-lg" style="margin-right: 30px;" href="{% url register %}"> جزئیات
                        مرحله ارسال طرح</a></p>
                </div>
            </div>
        </div>
        <div target-button="thumb-3" style="width: 680px;height: 306px;">
            <div id="slide-3" class="slide">
                <div class="container">
                    <h1>طرح شما بررسی و ارزیابی می شود</h1>

                    <p class="slide-paragraph">
                        بعد از ارسال طرح، فرایند داوری صوزت می پذیرد. این قسمت با ارسال طرح پیشنهادی به داور متخصص در ان حوزه تکمیل خواهد شد. برای آشنایی بیشتر با این مرحله کلیک کنید.                    </p>
                    <p><a class="btn btn-primary btn-lg" style="margin-right: 30px;" href="{% url register %}" id="judge-scroll-button"> معیارها
                        و مراحل داوری</a></p>
                </div>
            </div>
        </div>
        <div target-button="thumb-4" style="width: 680px;height: 306px;">
            <div id="slide-4" class="slide">
                <div class="container">
                    <h1>حمایت می شوید!</h1>

                    <p class="slide-paragraph"> توضیح توضیح توضیح توضیح توضیح توضیح توضیح توضیح توضیح توضیح توضیح توضیح
                        توضیح توضیح توضیح توضیح توضیح توضیح توضیح توضیح توضیح توضیح توضیح توضیح </p>

                    <p><a class="btn btn-primary btn-lg" style="margin-right: 30px;" href="{% url register %}">هم اکنون
                        ثبت نام کنید</a></p>
                </div>
            </div>
        </div>
    </div>
    <!--thumbnails-->
    <div id="thumbs">
        <div class="thumb thumb-1 thumb-1-focused">
            <div class="thumb-content"><p>ثبت نام در سامانه</p></div>
            <div style="clear:both;"></div>
        </div>
        <div class="thumb thumb-2 selected-thumb">
            <div class="thumb-content"><p>ثبت و ارسال طرح</p></div>
            <div style="clear:both;"></div>
        </div>
        <div class="thumb thumb-3">
            <div class="thumb-content"><p>داوری</p></div>
            <div style="clear:both;"></div>
        </div>
        <div class="thumb thumb-4">
            <div class="thumb-content"><p>حمایت مادی و معنوی</p></div>
            <div style="clear:both;"></div>
        </div>
    </div>
    <!--clear above float:left elements. It is required if above #slider is styled as float:left. -->
    <div style="clear:both;height:0;"></div>
</div>
<div id="reg-detail-container" class="detail-content">
    <div id="reg-detail">
        <h2 style="color:white;margin-bottom: 20px;">ثبت نام در سامانه</h2>

        <p>
            برای استفاده از امکانات سامانه، لازم است دانشجویان و نخبگان با مراجعه به قسمت ثبت نام یک بار در سامانه ثبت نام نمایند . ثبت نام در سامانه بر دو اساس صورت می پذیرد:        </p>

        <p>
            <span style="color:#FFFC45;font-size: 20px;">ثبت نام فردی:</span>

            ثبت نام فردی بدین معنی است که نخبه دارای طرحی است که فردی بوده (تک نفری) و  تمایل به اجرای آن به صورت انفرادی دارد؛ از این رو با انتخاب این قسمت تمامی طرح های ارسالی از سوی نخبه به عنوان کار انفرادی در نظر گرفته می شود.        </p>

        <p>
            <span style="color:#FFAE00;font-size: 20px;">ثبت نام خوشه ای:</span>
            این حالت زمانی انتخاب می شود که تعدادی از نخبگان و دانشجویان قصد انجام کار تیمی در قالب طرحی ارسالی دارند. در این حالت یک نفر(فردی که فرآیند ثبت نام خوشه ای را انتخاب کرده است) به عنوان سرگروه خوشه انتخاب می گردد و در ادامه ی فرآیند ثبت نام، نام و نام خانوادگی اعضای خوشه به همراه پست الکترونیکی آنها باید درج گردد. سامانه بطور خودکار بعد از تأیید نهایی فرآیند ثبت نام، اقدام به ارسال دعوت نامه  برای اعضای خوشه می کند، که در آن لینک مربوط به فرم اطلاعات فردی خوشه ارسال می گردد. لازم به ذکر است بعد از اعمال مشخصات خوشه، ادامه ی فرآیند ثبت نام بصورت فردی و مربوط به سرگروه خوشه خواهد بود، به طوری که اطلاعات خواسته شده تنها مربوط به یک فرد(سرگروه) می باشد.        </p>

        <p><a class="btn btn-default btn-lg" style="margin-right: 30px;" href="{% url register %}">
           هم اکنون ثبت نام کنید.
        </a></p>
    </div>
</div>
<div id="submit-detail-container" class="detail-content">
    <div id="submit-detail">
        <h2 style="margin-bottom: 20px;color:red;">ثبت و ارسال طرح</h2>

        <p>
            در این مرحله بعد از ثبت نام فردی یا خوشه ای، کاربر اقدام به ثبت طرح خود می نماید. این بخش نیز همچون بخش قبل دارای فرم استانداردی می باشد که باید تکمیل و ارسال گردد. فرم مذکور شامل 9 قسمت درج اطلاعات و الصاق پروپوزال می باشد. بعد از پر کردن اطلاعات خواسته شده در این 9 قسمت (به منظور معرفی کلی طرح)، کاربر باید فرم پروپوزال را پیوست نماید. فرآیند نحوه ی عملکرد مؤسسه نسبت به طرح ارسالی در زیر عنوان شده است.
        <p>
        تمامی طرح های ارسالی باید بر اساس فرم پروپوزال مؤسسه تکمیل و تنظیم گردد.<a href="/"> فرم پروپوزال</a>
        </p>

        <p style="text-align: center">
            <img src="/static/intro/images/submit_levels.JPG" width="400" height="200">
        </p>
        <p>
            به طور كلي در بررسي طرح ، موارد و شرايط زیر در نظر گرفته مي شود:
        </p>

        <div>
        <ol>
            <li>
                طرح پیشنهادی بايد داراي مشخصه جديدي باشد كه تا کنون کمتر به آن توجه شده است.
            </li>
            <li>
                طرح پیشنهادی بايد علاوه بر نو بودن، سبب ارتقاي کمی و کیفی در حيطه ی فعالیت خود شود، به طوري كه ایده پيشنهادي طرح براي حل مشكل ، بايد نسبت به ساير راه حل هاي احتمالي موجود، مزيت قابل توجهي داشته باشد.(تکراری نبودن و در صورت تکراری بودن مزیتی نسبت به سایر الگوهای مشابه داشته باشد.)
            </li>
            <li>
                طرح پیشنهادی نبايد فقط تئوريك و نظري باشد، بلكه بايد قابليت استفاده عملي و توليد در صنعت را داشته باشد.            </li>
        </ol>
        </div>
        <p>
            موارد عنوان شده تنها معیار های اصلی در رد یا پذیرش طرح می باشد که در صورت پذیرش اولیه در ادامه فرایند دقیق
            تر مورد بررسی قرار خواهد گرفت.
        </p>
    </div>
</div>
<div id="judge-detail-container" class="detail-content">
    <div id="judge-detail">
        <h2 style="margin-bottom: 20px;color:red;">داوری</h2>

        <p>
            این مرحله پیش از فرآیند حمایتی طرح های ارسال شده می باشد، که بعد از ارسال طرح نخبه به مؤسسه و داوری اولیه(توضیح داده شده در مرحله قبل) به منظور بررسی تخصصی و آماده سازی طرح برای اجرا، مورد بازبینی و قضاوت داوران متخصص در حوزه ی طرح قرار می گیرد. فرآیند تصمیم گیری و قضاوت طرح ها شامل دو بخش می شود: بخش نخست، بیشتر از معیارها و اولویت های مؤسسه تشکیل شده است(جدول زیر).        </p>
        <div style="text-align: center;">
        <table style="position: relative;margin: 0 auto;">
        <tr style="background-color:#1570a6;color: white;">
            <td> معیار</td>
            <td> زیر معیار</td>
        </tr>
        <tr style="background-color:#FF82C1;color: white;">
            <td rowspan="3">فناوري</td>
            <td> نحوه تأثيرگذاري بر فناوري کشور</td>
        </tr>
        <tr style="background-color:#FF82C1;color: white;">
            <td>آخرين وضعيت طرح</td>
        </tr>
        <tr style="background-color:#FF82C1;color: white;">
            <td>وضعيت ثبت اختراع</td>
        </tr>
        <tr style="background-color:#9FEB91;color: black;">
            <td rowspan="4">وضعیت بازار</td>
            <td>وضعيت رقابتي</td>
        </tr>
        <tr style="background-color:#9FEB91;color: black;">
            <td>ميزان تقاضا در بازار</td>
        </tr>
        <tr style="background-color:#9FEB91;color: black;">
            <td>قابلیت صادرات</td>
        </tr>
        <tr style="background-color:#9FEB91;color: black;">
            <td>قیمت فروش</td>
        </tr>
        <tr style="background-color:#FFB412;color: white;">
            <td rowspan="2">تخصص و تجربه</td>
            <td>تخصص</td>
        </tr>
        <tr style="background-color:#FFB412;color: white;">
            <td>تجربه</td>
        </tr>
        <tr style="background-color:#1570a6;color: white;">
            <td rowspan="3">ضرورت ملی</td>
            <td>تأثیر بر  زندگی مردم</td>
        </tr>
        <tr style="background-color:#1570a6;color: white;">
            <td>تأثیر بر اقتصاد کشور</td>
        </tr>
        <tr style="background-color:#1570a6;color: white;">
            <td>تأثیر بر خنثی‌سازی تحریم</td>
        </tr>
        <tr style="background-color:#FF8A8A;color: white;">
            <td>محوریت در تجاري‌سازی</td>
            <td>محوریت در تجاري‌سازی(فردی، خوشه ای)</td>
        </tr>
        </table>
        </div>
        <p style="margin-top: 20px;">
            در بخش دوم، تمرکز بر معیارهای اولیه طرح توجیهی و کلیّات موضوع خواهد بود، به طوری که در این قسمت امکان تبادل نظر و پاسخ میان مجری و داوران وجود خواهد داشت. به بیان دیگر پس از عبور از بخش نخست و تأیید وجود سطح مطلوبی از معیارهای جدول فوق، به منظور اجرایی شدن طرح پیشنهادی، بررسی موضوعات فنی و تهیه برنامه کسب و کار، برگزاری جلسه میان مجری و مؤسسه لازم به نظر خواهد رسید.        </p>
    </div>
</div>
<div id="support-detail-container" class="detail-content">
    <div id="support-detail">

    </div>
</div>
</body>
</html>