<!DOCTYPE html>
<html dir="rtl">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>{% block title %}{{ title }}{% endblock %}</title>
    {% block CSS %}
        <link rel="stylesheet" type="text/css" href='/static/lib/form-validation/validationEngine.jquery.css'/>
        <link rel="stylesheet" type="text/css" href="/static/base.css"/>
        <link rel="stylesheet" type="text/css" href="/static/lib/jquery-ui/jquery-ui-1.10.3.custom.min.css"/>
        <link rel="stylesheet" type="text/css" href="/static/lib/select2/select2.css"/>
        <link rel="stylesheet" type="text/css" href="/static/registration/register.css"/>
        <link rel="stylesheet" type="text/css" href="/static/manager/actions.css"/>
    {% endblock %}
    {% block JS %}
        <script type="text/javascript" src="/static/lib/jquery-1.10.2.min.js"></script>
        <script type="text/javascript" src="/static/lib/jquery-ui/jquery-ui-1.10.3.custom.min.js"></script>
        <script type="text/javascript" src="/static/lib/jquery.ui.datepicker-cc.all.min.js"></script>
        <script type="text/javascript" src="/static/base.js"></script>
        <script type="text/javascript" src="/static/datepicker/scripts/jquery.ui.core.js"></script>
        <script type="text/javascript" src="/static/datepicker/scripts/jquery.ui.datepicker-cc.js"></script>
        <script type="text/javascript" src="/static/datepicker/scripts/calendar.js"></script>
        <script type="text/javascript" src="/static/datepicker/scripts/jquery.ui.datepicker-cc-ar.js"></script>
        <script type="text/javascript" src="/static/datepicker/scripts/jquery.ui.datepicker-cc-fa.js"></script>
        <script type="text/javascript" src="/static/lib/select2/select2.min.js"></script>
        <script type="text/javascript" src="/static/lib/select2/select2_locale_fa.js"></script>
        <script type="text/javascript" src="/static/lib/jquery.formset.min.js"></script>
        <script type="text/javascript" src="/static/registration/register.js"></script>
        <script type="text/javascript"
                src='/static/lib/form-validation/languages/jquery.validationEngine-fa.js'></script>
        <script type="text/javascript" src='/static/lib/form-validation/jquery.validationEngine.js'></script>
        <script type="text/javascript" src='/static/project/register.js'></script>
        <script type="text/javascript" src='/static/manager/actions.js'></script>
    {% endblock %}

</head>
<body>
<div class="panel panel-info form-div">
    {% block content %}
    {% endblock %}
</div>


</body>
</html>