<div style="clear: left" xmlns:vb="http://www.w3.org/1999/XSL/Transform">
    <div id="footer" class="floatcontainer footer">
        <!--
            <form action="{vb:link forumhome|nosession}" method="get" id="footer_select" class="footer_select">

                <vb:if condition="$show['quickchooser']">
                    <select name="styleid" onchange="switch_id(this, 'style')">
                        <optgroup label="{vb:rawphrase quick_style_chooser}">
                            {vb:raw quickchooserbits}
                        </optgroup>
                    </select>
                </vb:if>

                <vb:if condition="$show['languagechooser']">
                    <select name="langid" onchange="switch_id(this, 'lang')">
                        <optgroup label="{vb:rawphrase quick_language_chooser}">
                            {vb:raw languagechooserbits}
                        </optgroup>
                    </select>
                </vb:if>
            </form>
        -->
        <ul id="footer_links" class="footer_links">
            <vb:if condition="$show['contactus']">
                <li><a href="{vb:raw vboptions.contactuslink}" rel="nofollow" accesskey="9">{vb:rawphrase
                    contact_us}</a></li>
            </vb:if>
            <vb:if condition="$vboptions['hometitle']">
                <li><a href="{vb:raw vboptions.homeurl}">{vb:raw vboptions.hometitle}</a></li>
            </vb:if>
            <vb:if condition="$show['admincplink']">
                <li><a href="{vb:raw admincpdir}/index.php{vb:raw session.sessionurl_q}">{vb:rawphrase admin}</a></li>
            </vb:if>
            <vb:if condition="$show['modcplink']">
                <li><a href="{vb:raw modcpdir}/index.php{vb:raw session.sessionurl_q}">{vb:rawphrase mod}</a></li>
            </vb:if>
            <vb:if condition="$vboptions['archiveenabled']">
                <li><a href="archive/index.php{vb:raw session.sessionurl_q}">{vb:rawphrase archive}</a></li>
            </vb:if>
            {vb:raw template_hook.footer_links}
            <vb:if condition="$vboptions['privacyurl']">
                <li><a href="{vb:raw vboptions.privacyurl}">{vb:rawphrase privacy_statement}</a></li>
            </vb:if>
            <vb:if condition="$vboptions['tosurl']">
                <li><a href="{vb:raw vboptions.tosurl}">{vb:rawphrase terms_of_service}</a></li>
            </vb:if>
            <li><a href="{vb:raw relpath}#top" onclick="document.location.hash='top'; return false;">{vb:rawphrase
                top}</a></li>
        </ul>

        <vb:if condition="$show['dst_correction']">
            <!-- auto DST correction code -->
            <form action="profile.php?do=dst" method="post" name="dstform">
                <input type="hidden" name="s" value="{vb:raw session.sessionhash}"/>
                <input type="hidden" name="securitytoken" value="{vb:raw bbuserinfo.securitytoken}"/>
                <input type="hidden" name="do" value="dst"/>
            </form>
            <script type="text/javascript">
                <!--
                var tzOffset = {vb: raw bbuserinfo.timezoneoffset
                }
                +{vb: raw bbuserinfo.dstonoff
                }
                ;
                var utcOffset = new Date().getTimezoneOffset() / 60;
                if (Math.abs(tzOffset + utcOffset) == 1) {	// Dst offset is 1 so its changed
                    document.forms.dstform.submit();
                }
                //-->
            </script>
            <!-- / auto DST correction code -->
        </vb:if>

        <script type="text/javascript">
            <!--
            // Main vBulletin Javascript Initialization
            vBulletin_init();
            //-->
        </script>
        {vb:raw template_hook.footer_javascript}

    </div>

</div> <!-- closing div for body_wrapper -->
<div class="below_body">

</div>

<!-- Custom Content Wrap -->

</div>
</div>
<div id="footerMain">
    <div class="pageWrap">
        <div class="copyright">
            <div id="footer_time" class="shade footer_time">{vb:rawphrase all_times_are_gmt_x_time_now_is_y}</div>
            <br>
            فارسی سازی توسط
            <a href="http://www.vbiran.ir/" rel="follow">وی بی ایران</a>
            <br>
            تاریخ این انجمن توسط
            <a target="_blank" href="http://www.vbulletin.org/forum/member.php?u=410999">مصطفی نکویی</a>
            شمسی شده است.
            <div>
                <!-- لطفاً کپی رایت را حذف نکنید -->
                <a href="http://www.vbiran.ir">قالب، برگرفته شده از vbiran </a>

                <!-- Do not remove this copyright notice -->
            </div>
            <div>
                <!-- Do not remove cronimage or your scheduled tasks will cease to function -->
                {vb:raw cronimage}
                <!-- Do not remove cronimage or your scheduled tasks will cease to function -->

            </div>
        </div>
    </div>
</div>