body {
    background-color: white;
    margin: 0 auto;
    font-size: 13px;
    font-weight: normal;
    font-style: normal;
    position: relative;
    width: 100%;
    min-height: 100%;
    left: 0;
    top: 0;
    cursor: default;
}

input[type="text"], input[type="password"], input[type="email"], input[type="url"], textarea {
    width: 60% !important;
}

.even-tr {
    background-color: ghostwhite;
}

.odd-tr {
    background-color: rgb(252, 252, 250);
}

.header-tr {
    background-color: rgb(230, 230, 230);
}

.action-pre {
    font-family: Tahoma, sans-serif;
    font-size: 14px;
}
