.select2-container-multi .select2-choices{
    width: 100%;
}

.select2-container{
    width: 60%;
}
.select2-container , .select2-container ul, .select2-container ul li,.select2-container-multi .select2-choices li{
    direction: rtl;
    text-align: right;
    float: right;
}

.select2-search-choice-close{
    left: 3px;
    right: inherit;
}



input[type="text"], input[type="password"], input[type="email"], input[type="url"], textarea{
    width: 60% !important;
}