.ui-jqgrid .ui-jqgrid-htable th div {
    padding: 4px 0;
    font-weight: normal;
    font-size: 15px;
}

.filter-formset table, .filter-formset table tr td {
    text-align: right;
    font-size: 12px;
}

.filter-formset table {
    font-size: 10px;
}

.ui-jqgrid tr.ui-row-rtl td {
    padding: 4px;
    text-overflow: ellipsis;
}

.ui-jqgrid .ui-userdata {
    height: 32px;
    background: rgb(255, 255, 255);
    border: 0;
    margin-top: 2px;

}

#next_manager_pager {
    padding-right: 22px;
}

.ui-jqgrid .ui-pg-button span.ui-separator {
    display: none;
}

.select2-container-multi .select2-choices {
    width: 100%;
}

.select2-container {
    width: 60%;
}

.select2-container, .select2-container ul, .select2-container ul li, .select2-container-multi .select2-choices li {
    direction: rtl;
    text-align: right;
    float: right;
}

.select2-search-choice-close {
    left: 3px;
    right: inherit;
}

input[type="text"], input[type="password"], input[type="email"], input[type="url"], textarea {
    width: 60% !important;
}

.ui-pg-selbox {
    width: inherit;
}

.filter-reset, .filter-submit {
    padding: 1px 15px !important;
    font-size: 14px;
}

.manager-action .ui-button-text {
    padding: 0 12px;
    font-size: 15px;
}

input[type="text"], input[type="password"], input[type="email"], input[type="url"], textarea {
    margin: 0;
    position: relative;
    border: 1px solid rgb(170, 170, 170);
    cursor: text;
    overflow: hidden;
    background-color: rgb(255, 255, 255);
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(1%, rgb(238, 238, 238)), color-stop(15%, rgb(255, 255, 255)));
    background-image: -webkit-linear-gradient(top, rgb(238, 238, 238) 1%, rgb(255, 255, 255) 15%);
    background-image: -moz-linear-gradient(top, #eee 1%, #fff 15%);
    background-image: -o-linear-gradient(top, #eee 1%, #fff 15%);
    background-image: -ms-linear-gradient(top, #eee 1%, #fff 15%);
    background-image: linear-gradient(top, #eee 1%, #fff 15%);
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}

input[type="text"]:focus, input[type="password"]:focus, input[type="email"]:focus, input[type="url"]:focus, textarea:focus {
    border: 1px solid #5897fb;
    outline: none;

    -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, .3);
    box-shadow: 0 0 5px rgba(0, 0, 0, .3);
}

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
    font-size: 15px;
}

.ui-button-text-only .ui-button-text {
    padding: 0.1em 1em;
}

input.ui-button {
    padding: 0.1em 1em;
}

.ui-jqgrid .ui-jqgrid-hbox-rtl {
    float: none;
}

.ui-th-rtl, .ui-jqgrid .ui-jqgrid-htable th.ui-th-rtl {
    text-align: center;
}

.manager-excel {
    float: left;
    width: 32px;
    height: 32px;
    margin-left: 3px;
    background: url('/static/manager/images/excel.png');
}