.ui-jqgrid .ui-jqgrid-htable th div {
    padding: 12px 0;
}

.filter-formset table, .filter-formset table tr td {
    text-align: right;
}

.filter-formset table {
    font-size: 10px;
}

.ui-jqgrid tr.ui-row-rtl td {
    padding: 4px;
    text-overflow: ellipsis;
}

.ui-jqgrid .ui-userdata {
    height: 32px;
}

#next_manager_pager {
    padding-right: 22px;
}

.ui-jqgrid .ui-pg-button span.ui-separator {
    display: none;
}

.select2-container-multi .select2-choices {
    width: 100%;
}

.select2-container {
    width: 60%;
}

.select2-container, .select2-container ul, .select2-container ul li, .select2-container-multi .select2-choices li {
    direction: rtl;
    text-align: right;
    float: right;
}

.select2-search-choice-close {
    left: 3px;
    right: inherit;
}

input[type="text"], input[type="password"], input[type="email"], input[type="url"], textarea {
    width: 60% !important;
}