#login {
    position: absolute;
    height: 200px;
    width: 20%;
    top: 30%;
    left: 40%;
    direction: ltr;
}

#login div {
    width: 100%;
}

.button_holder input, .button_holder a {
    margin-top: 5px;
    width: 100%;
}

body {
    background-color: #eeeeee;
}