{% extends 'manager/actions/add_edit.html' %}
{% load account_template_tags %}
{% block JS %}
    {{ block.super }}
    <script type="text/javascript" src='/static/project/check.js'></script>
        {% if form %}
            {{ form.media }}
        {% endif %}
    <script type="text/javascript">
        $(document).ready(function(){
            var param = document.URL.split('&i=')[1];
            $('input[type=file]').each(function(){
                var url = $(this).parent().find("a:first").attr('href');
                $(this).parent().find("a:first").attr('href',url+"!target_id="+param);
            });
        });

    </script>
{% endblock %}
{% block before_main %}
    <fieldset>
        {% if project.single_member %}
            <legend>اطلاعات ارائه دهنده طرح</legend>
            <table>
                <tr>
                    <td class="label_td">نام و نام خانوادگی:</td>
                    <td class="input_td">{{ project.single_member.user }}</td>
                </tr>
            </table>
        {% else %}
            <legend>اطلاعات خوشه</legend>
            <table>
                <tr>
                    <td class="label_td">نام خوشه:</td>
                    <td class="input_td">{{ project.cluster.name }}</td>
                </tr>
                <tr>
                    <td class="label_td">دانشگاه / موسسه:</td>
                    <td class="input_td">{{ project.cluster.institute }}</td>
                </tr>
                <tr>
                    <td class="label_td">سرخوشه:</td>
                    <td class="input_td">{{ project.cluster.head }}</td>
                </tr>
                <tr>
                    <td class="label_td">حوزه های فعالیت:</td>
                    <td class="input_td">{{ project.cluster.domains|show_m2m }}</td>
                </tr>
                <tr>
                    <td class="label_td">اعضای خوشه:</td>
                    <td class="input_td">{{ project.cluster.members|show_m2m }}</td>
                </tr>

            </table>
        {% endif %}
    </fieldset>
{% endblock %}
{% block main_form %}
    {% if error %}
    <p>شما قادر به داوری این پروژه نیستید.</p>
    {% else %}
    <fieldset class="inner_fieldset">
        <legend>{{ title }}</legend>
        <table class="register_table">
            <tr {% if form.allow_edit.field.is_hidden|is_true %}style="display: none;"{% endif %}>
                <td class="label_td">{{ form.allow_edit.label }}
                    {% if form.allow_edit.field.required %}<span class="required_field">*</span>{% endif %}
                </td>
                <td class="input_td">{{ form.allow_edit }}</td>
                {% if form.allow_edit.errors %}
                    <td class="error_td" width="30%">{{ form.allow_edit.errors }}</td>
                {% endif %}
            </tr>
            <tr {% if form.show_in_intro.field.is_hidden|is_true %}style="display: none;"{% endif %}>
                <td class="label_td">{{ form.show_in_intro.label }}
                    {% if form.show_in_intro.field.required %}<span class="required_field">*</span>{% endif %}
                </td>
                <td class="input_td">{{ form.show_in_intro }}</td>
                {% if form.show_in_intro.errors %}
                    <td class="error_td" width="30%">{{ form.show_in_intro.errors }}</td>
                {% endif %}
            </tr>
            <tr {% if form.intro_file.field.is_hidden|is_true %}style="display: none;"{% endif %}>
                <td class="label_td">{{ form.intro_file.label }}
                    {% if form.intro_file.field.required %}<span class="required_field">*</span>{% endif %}
                </td>
                <td class="input_td">{{ form.intro_file }}</td>
                {% if form.intro_file.errors %}
                    <td class="error_td" width="30%">{{ form.intro_file.errors }}</td>
                {% endif %}
            </tr>
            <tr {% if form.title.field.is_hidden|is_true %}style="display: none;"{% endif %}>
                <td class="label_td">{{ form.title.label }}
                    {% if form.title.field.required %}<span class="required_field">*</span>{% endif %}
                </td>
                <td class="input_td">{{ form.title }}</td>
                {% if form.title.errors %}
                    <td class="error_td" width="30%">{{ form.title.errors }}</td>
                {% endif %}
            </tr>
            <tr {% if form.has_confirmation.field.is_hidden|is_true %}style="display: none;"{% endif %}>
                <td class="label_td">{{ form.has_confirmation.label }}
                    {% if form.has_confirmation.field.required %}<span class="required_field">*</span>{% endif %}
                </td>
                <td class="input_td">{{ form.has_confirmation }}</td>
                {% if form.has_confirmation.errors %}
                    <td class="error_td" width="30%">{{ form.has_confirmation.errors }}</td>
                {% endif %}
            </tr>
            <tr {% if form.confirmation_type.field.is_hidden|is_true %}style="display: none;"{% endif %}>
                <td class="label_td">{{ form.confirmation_type.label }}
                    {% if form.confirmation_type.field.required %}<span class="required_field">*</span>{% endif %}
                </td>
                <td class="input_td">{{ form.confirmation_type }}</td>
                {% if form.confirmation_type.errors %}
                    <td class="error_td" width="30%">{{ form.confirmation_type.errors }}</td>
                {% endif %}
            </tr>
            <tr {% if form.certificate_image.field.is_hidden|is_true %}style="display: none;"{% endif %}>
                <td class="label_td">{{ form.certificate_image.label }}
                    {% if form.certificate_image.field.required %}<span class="required_field">*</span>{% endif %}
                </td>
                <td class="input_td">{{ form.certificate_image }}</td>
                {% if form.certificate_image.errors %}
                    <td class="error_td" width="30%">{{ form.certificate_image.errors }}</td>
                {% endif %}
            </tr>
            <tr {% if form.has_patent.field.is_hidden|is_true %}style="display: none;"{% endif %}>
                <td class="label_td">{{ form.has_patent.label }}
                    {% if form.has_patent.field.required %}<span class="required_field">*</span>{% endif %}
                </td>
                <td class="input_td">{{ form.has_patent }}</td>
                {% if form.has_patent.errors %}
                    <td class="error_td" width="30%">{{ form.has_patent.errors }}</td>
                {% endif %}
            </tr>
            <tr {% if form.patent_number.field.is_hidden|is_true %}style="display: none;"{% endif %}>
                <td class="label_td">{{ form.patent_number.label }}
                    {% if form.patent_number.field.required %}<span class="required_field">*</span>{% endif %}
                </td>
                <td class="input_td">{{ form.patent_number }}</td>
                {% if form.patent_number.errors %}
                    <td class="error_td" width="30%">{{ form.patent_number.errors }}</td>
                {% endif %}
            </tr>
            <tr {% if form.patent_date.field.is_hidden|is_true %}style="display: none;"{% endif %}>
                <td class="label_td">{{ form.patent_date.label }}
                    {% if form.patent_date.field.required %}<span class="required_field">*</span>{% endif %}
                </td>
                <td class="input_td">{{ form.patent_date }}</td>
                {% if form.patent_date.errors %}
                    <td class="error_td" width="30%">{{ form.patent_date.errors }}</td>
                {% endif %}
            </tr>
            <tr {% if form.patent_certificate.field.is_hidden|is_true %}style="display: none;"{% endif %}>
                <td class="label_td">{{ form.patent_certificate.label }}
                    {% if form.patent_certificate.field.required %}<span class="required_field">*</span>{% endif %}
                </td>
                <td class="input_td">{{ form.patent_certificate }}</td>
                {% if form.patent_certificate.errors %}
                    <td class="error_td" width="30%">{{ form.patent_certificate.errors }}</td>
                {% endif %}
            </tr>
            <tr {% if form.patent_request.field.is_hidden|is_true %}style="display: none;"{% endif %}>
                <td class="label_td">{{ form.patent_request.label }}
                    {% if form.patent_request.field.required %}<span class="required_field">*</span>{% endif %}
                </td>
                <td class="input_td">{{ form.patent_request }}</td>
                {% if form.patent_request.errors %}
                    <td class="error_td" width="30%">{{ form.patent_request.errors }}</td>
                {% endif %}
            </tr>
            <tr {% if form.domain.field.is_hidden|is_true %}style="display: none;"{% endif %}>
                <td class="label_td">{{ form.domain.label }}
                    {% if form.domain.field.required %}<span class="required_field">*</span>{% endif %}
                </td>
                <td class="input_td">{{ form.domain }}</td>
                {% if form.domain.errors %}
                    <td class="error_td" width="30%">{{ form.domain.errors }}</td>
                {% endif %}
            </tr>
            <tr {% if form.summary.field.is_hidden|is_true %}style="display: none;"{% endif %}>
                <td class="label_td">{{ form.summary.label }}
                    {% if form.summary.field.required %}<span class="required_field">*</span>{% endif %}
                </td>
                <td class="input_td">{{ form.summary }}</td>
                {% if form.summary.errors %}
                    <td class="error_td" width="30%">{{ form.summary.errors }}</td>
                {% endif %}
            </tr>
            <tr {% if form.keywords.field.is_hidden|is_true %}style="display: none;"{% endif %}>
                <td class="label_td">{{ form.keywords.label }}
                    {% if form.keywords.field.required %}<span class="required_field">*</span>{% endif %}
                </td>
                <td class="input_td">{{ form.keywords }}</td>
                {% if form.keywords.errors %}
                    <td class="error_td" width="30%">{{ form.keywords.errors }}</td>
                {% endif %}
            </tr>
            <tr {% if form.innovations.field.is_hidden|is_true %}style="display: none;"{% endif %}>
                <td class="label_td">{{ form.innovations.label }}
                    {% if form.innovations.field.required %}<span class="required_field">*</span>{% endif %}
                </td>
                <td class="input_td">{{ form.innovations }}</td>
                {% if form.innovations.errors %}
                    <td class="error_td" width="30%">{{ form.innovations.errors }}</td>
                {% endif %}
            </tr>
            <tr {% if form.state.field.is_hidden|is_true %}style="display: none;"{% endif %}>
                <td class="label_td">{{ form.state.label }}
                    {% if form.state.field.required %}<span class="required_field">*</span>{% endif %}
                </td>
                <td class="input_td">{{ form.state }}</td>
                {% if form.state.errors %}
                    <td class="error_td" width="30%">{{ form.state.errors }}</td>
                {% endif %}
            </tr>
            <tr {% if form.proposal.field.is_hidden|is_true %}style="display: none;"{% endif %}>
                <td class="label_td">{{ form.proposal.label }}
                    {% if form.proposal.field.required %}<span class="required_field">*</span>{% endif %}
                </td>
                <td class="input_td">{{ form.proposal }}</td>
                {% if form.proposal.errors %}
                    <td class="error_td" width="30%">{{ form.proposal.errors }}</td>
                {% endif %}
            </tr>
            <tr {% if form.attended_members.field.is_hidden|is_true %}style="display: none;"{% endif %}>
                <td class="label_td">{{ form.attended_members.label }}
                    {% if form.attended_members.field.required %}<span class="required_field">*</span>{% endif %}
                </td>
                <td class="input_td">{{ form.attended_members }}</td>
                {% if form.attended_members.errors %}
                    <td class="error_td" width="30%">{{ form.attended_members.errors }}</td>
                {% endif %}
            </tr>
        </table>
    </fieldset>
    {% endif %}
{% endblock %}
{% block after_main %}
    {% if error %}
    <p>شما قادر به داوری این پروژه نیستید.</p>
    {% else %}
    {% if form.project_status %}
        <fieldset class="inner_fieldset">
            <legend>داوری</legend>
            <table class="register_table">
                <tr {% if form.project_status.field.is_hidden|is_true %}style="display: none;"{% endif %}>
                    <td class="label_td">{{ form.project_status.label }}
                        {% if form.project_status.field.required %}<span class="required_field">*</span>{% endif %}
                    </td>
                    <td class="input_td">{{ form.project_status }}</td>
                    {% if form.project_status.errors %}
                        <td class="error_td" width="30%">{{ form.project_status.errors }}</td>
                    {% endif %}
                </tr>
                <tr {% if form.score.field.is_hidden|is_true %}style="display: none;"{% endif %}>
                    <td class="label_td">{{ form.score.label }}
                        {% if form.score.field.required %}<span class="required_field">*</span>{% endif %}
                    </td>
                    <td class="input_td">{{ form.score }}</td>
                    {% if form.score.errors %}
                        <td class="error_td" width="30%">{{ form.score.errors }}</td>
                    {% endif %}
                </tr>
            </table>
        </fieldset>
    {% endif %}

    {% if form.supervisor %}
        <fieldset class="inner_fieldset">
            <legend>ناظر طرح</legend>
            <table class="register_table">
                <tr>
                    <td class="label_td">{{ form.supervisor.label }}
                        {% if form.supervisor.field.required %}<span class="required_field">*</span>{% endif %}
                    </td>
                    <td class="input_td">{{ form.supervisor }}</td>
                    {% if form.supervisor.errors %}
                        <td class="error_td" width="30%">{{ form.supervisor.errors }}</td>
                    {% endif %}

                </tr>
            </table>
        </fieldset>
    {% endif %}
    {% if inline_form %}
        <fieldset class="inner_fieldset">
            <legend>داوری طرح</legend>


            <div class="middle"><a class="button_link" href="{{ MEDIA_URL }}prop/arbiter_form-sample1392.docx">دریافت فرم داوری</a>
            </div>

            <p>این قسمت از فرم به منظور خلاصه سازی ارزیابی کلی طرح، طراحی شده است. لذا از شما داور محترم درخواست می شود
                تا نظر خود را در مورد موارد زیر مطرح نمایید.</p>

            <table>
                <tr>
                    <td>{{ inline_form.economic_comment.label }}{% if inline_form.economic_comment.field.required %}
                        <span class="required_field">*</span>{% endif %}</td>
                </tr>
                <tr>
                    <td>{{ inline_form.economic_comment }}</td>
                    {% if inline_form.economic_comment.errors %}
                        <td class="error_td" width="30%">{{ inline_form.economic_comment.errors }}</td>
                    {% endif %}
                </tr>
                <tr>
                    <td>{{ inline_form.innovation_comment.label }}{% if inline_form.innovation_comment.field.required %}
                        <span class="required_field">*</span>{% endif %}</td>
                </tr>
                <tr>
                    <td>{{ inline_form.innovation_comment }}</td>
                    {% if inline_form.innovation_comment.errors %}
                        <td class="error_td" width="30%">{{ inline_form.innovation_comment.errors }}</td>
                    {% endif %}
                </tr>
                <tr>
                    <td>{{ inline_form.time_comment.label }}{% if inline_form.time_comment.field.required %}
                        <span class="required_field">*</span>{% endif %}</td>
                </tr>
                <tr>
                    <td>{{ inline_form.time_comment }}</td>
                    {% if inline_form.time_comment.errors %}
                        <td class="error_td" width="30%">{{ inline_form.time_comment.errors }}</td>
                    {% endif %}
                </tr>
                <tr>
                    <td>{{ inline_form.budget_comment.label }}{% if inline_form.budget_comment.field.required %}
                        <span class="required_field">*</span>{% endif %}</td>
                </tr>
                <tr>
                    <td>{{ inline_form.budget_comment }}</td>
                    {% if inline_form.budget_comment.errors %}
                        <td class="error_td" width="30%">{{ inline_form.budget_comment.errors }}</td>
                    {% endif %}
                </tr>
                <tr>
                    <td>{{ inline_form.attachment.label }}{% if inline_form.attachment.field.required %}
                        <span class="required_field">*</span>{% endif %} {{ inline_form.attachment }}

                    </td>
                    {% if inline_form.attachment.errors %}
                        <td class="error_td" width="30%">{{ inline_form.attachment.errors }}</td>
                    {% endif %}
                </tr>
                <tr>
                    <td>{{ inline_form.confirmed.label }}{% if inline_form.confirmed.field.required %}
                        <span class="required_field">*</span>{% endif %} {{ inline_form.confirmed }}</td>
                    {% if inline_form.confirmed.errors %}
                        <td class="error_td" width="30%">{{ inline_form.confirmed.errors }}</td>
                    {% endif %}
                </tr>
            </table>
        </fieldset>
    {% endif %}
    {% if arbiter_formset %}
        <div id="arbiter_formset_div">
            {% include 'formset.html' with legend="داوران طرح" formset=arbiter_formset %}
        </div>
        <br/>
    {% endif %}
    {% if project_arbiters %}
        <div id="project_arbiters_div">
            <fieldset class="inner_fieldset">
                <legend>نتایج داوری</legend>
                <table>
                    <thead>
                    <tr class="header-tr">
                        <td width="35%">
                            داور مربوطه
                        </td>
                        <td width="45%">
                            نظرات داور
                        </td>
                        <td width="10%">
                            ضمیمه
                        </td>
                        <td width="10%">
                            تاییدنهایی شده
                        </td>
                    </tr>
                    </thead>
                    <tbody>
                    {% for project_arbiter in project_arbiters %}
                        <tr class="{% cycle 'odd-tr' 'even-tr' %}">
                            <td>
                                {{ project_arbiter.arbiter }}
                            </td>
                            <td>
                                <a class="button_link"
                                   onclick="return popitup('/project/view_arbiter_comment/{{ project_arbiter.id }}/', 'مشاهده نظرات {{ project_arbiter.arbiter }}')"
                                   href="/view_arbiter_comment/{{ project_arbiter.id }}/">مشاهده نظرات</a>
                            </td>
                            <td>
                                {% if project_arbiter.attachment %}
                                    <a target="_blank"
                                       href="{{project_arbiter.attachment.url}}!target_id={{project_arbiter.id}}">{{ item.title }}">{{ project_arbiter.attachment|filename }}</a>
                                {% else %}
                                    ---
                                {% endif %}
                            </td>
                            <td>
                                {% if project_arbiter.confirmed|is_true %}
                                    بله
                                {% else %}
                                    خیر
                                {% endif %}
                            </td>

                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </fieldset>
        </div>
        <br/>
    {% endif %}
    {% if milestone_formset %}
        {% include 'formset.html' with legend="موعدهای طرح" formset=milestone_formset %}
    {% endif %}
{% endif %}
{% endblock %}
