{% extends 'manager/actions/add_edit.html' %}
{% load account_template_tags %}
{% block JS %}
    {{ block.super }}
    <script type="text/javascript" src='/static/project/check.js'></script>
{% endblock %}
{% block before_main %}
    <fieldset>
        {% if project.single_member %}
            <legend>اطلاعات ارائه دهنده طرح</legend>
            <table>
                <tr>
                    <td class="label_td">نام و نام خانوادگی:</td>
                    <td class="input_td">{{ project.single_member.user }}</td>
                </tr>
            </table>
        {% else %}
            <legend>اطلاعات خوشه</legend>
            <table>
                <tr>
                    <td class="label_td">نام خوشه:</td>
                    <td class="input_td">{{ project.cluster.name }}</td>
                </tr>
                <tr>
                    <td class="label_td">دانشگاه / موسسه:</td>
                    <td class="input_td">{{ project.cluster.institute }}</td>
                </tr>
                <tr>
                    <td class="label_td">سرخوشه:</td>
                    <td class="input_td">{{ project.cluster.head }}</td>
                </tr>
                <tr>
                    <td class="label_td">حوزه های فعالیت:</td>
                    <td class="input_td">{{ project.cluster.domains|show_m2m }}</td>
                </tr>
                <tr>
                    <td class="label_td">اعضای خوشه:</td>
                    <td class="input_td">{{ project.cluster.members|show_m2m }}</td>
                </tr>

            </table>
        {% endif %}
    </fieldset>
{% endblock %}

{% block after_main %}
    {% if inline_form %}
        <fieldset class="inner_fieldset">
            <legend>داوری طرح</legend>
            <table>
                {% for field in inline_form %}
                    <tr {% if field.field.is_hidden|is_true %}style="display: none;"{% endif %}>
                        <td class="label_td">{{ field.label }}
                            {% if field.field.required %}<span class="required_field">*</span>{% endif %}
                        </td>
                        <td class="input_td">
                            {{ field }}
                        </td>
                        {% if field.errors %}
                            <td class="error_td" width="30%">{{ field.errors }}</td>
                        {% endif %}
                    </tr>
                {% endfor %}
            </table>
        </fieldset>
    {% endif %}
    {% if arbiter_formset %}
        <div id="arbiter_formset_div">
            {% include 'formset.html' with legend="داوران طرح" formset=arbiter_formset %}
        </div>
        <br/>
    {% endif %}
    {% if project_arbiters %}
        <div id="project_arbiters_div">
            <fieldset class="inner_fieldset">
                <legend>نتایج داوری</legend>
                <table>
                    <thead>
                    <tr class="header-tr">
                        <td width="35%">
                            داور مربوطه
                        </td>
                        <td width="45%">
                            نظر کلی
                        </td>
                        <td width="10%">
                            ضمیمه
                        </td>
                        <td width="10%">
                            تاییدنهایی شده
                        </td>
                    </tr>
                    </thead>
                    <tbody>
                    {% for project_arbiter in project_arbiters %}
                        <tr class="{% cycle 'odd-tr' 'even-tr' %}">
                            <td>
                                {{ project_arbiter.arbiter }}
                            </td>
                            <td>
                                {% if project_arbiter.comment %}
                                    <pre class="action-pre">{{ project_arbiter.comment }}</pre>
                                {% else %}
                                    ---
                                {% endif %}
                            </td>
                            <td>
                                {% if project_arbiter.attachment %}
                                    <a target="_blank"
                                       href="{{ project_arbiter.attachment.url }}">{{ project_arbiter.attachment|filename }}</a>
                                {% else %}
                                    ---
                                {% endif %}
                            </td>
                            <td>
                                {% if project_arbiter.confirmed|is_true %}
                                    بله
                                {% else %}
                                    خیر
                                {% endif %}
                            </td>

                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </fieldset>
        </div>
        <br/>
    {% endif %}
    {% if milestone_formset %}
        {% include 'formset.html' with legend="موعدهای طرح" formset=milestone_formset %}
    {% endif %}
{% endblock %}