{% extends 'base.html' %}
{% load staticfiles %}

{% block CSS %}
    <link rel="stylesheet" type="text/css" href='/static/lib/form-validation/validationEngine.jquery.css'/>
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="/static/registration/register.css"/>
{% endblock %}

{% block JS %}
    {{ block.super }}
    <script type="text/javascript" src="/static/lib/jquery.formset.min.js"></script>
    <script type="text/javascript" src="/static/project/register.js"></script>
    <script type="text/javascript" src='/static/lib/form-validation/languages/jquery.validationEngine-fa.js'></script>
    <script type="text/javascript" src='/static/lib/form-validation/jquery.validationEngine.js'></script>
    <style>
        .art-sheet {
            width: 97%;
        }

        #inner-header {
            width: 97%;
        }

    </style>
{% endblock %}


{% block header_title %}فرم ثبت طرح{% endblock %}
{% block content %}
    {% include 'messages.html' %}
    <div class="panel panel-info form-div" id="project_div">
        <form action="" method="post" enctype="multipart/form-data" id="project_form" class="js-validation-from">
            {% csrf_token %}
            {% block form_body %}
                <div class="middle"><a class="button_link" href="{{ MEDIA_URL }}prop/sample_proposal.docx">دریافت فرم
                    پروپوزال</a></div>
                {% include 'project/project_main_form.html' %}
                <div class="button_holder">
                    <input type="submit" value="ثبت" name="register-submit">
                </div>
            {% endblock %}
        </form>
    </div>
{% endblock %}