{% extends 'manager/actions/show.html' %}
{% block JS %}
    {{ block.super }}
    <script type="text/javascript" src='/static/project/show.js'></script>
{% endblock %}
{% load account_template_tags %}
{% block before_main %}
    {% include 'messages.html' %}
    {% if project %}
        <fieldset>
            {% if project.single_member %}
                <legend>اطلاعات ارائه دهنده طرح</legend>
                <table>
                    <tr>
                        <td class="label_td">نام و نام خانوادگی:</td>
                        <td class="input_td">{{ project.single_member.user }}</td>
                    </tr>
                </table>
            {% else %}
                <legend>اطلاعات خوشه</legend>
                <table>
                    <tr>
                        <td class="label_td">نام خوشه:</td>
                        <td class="input_td">{{ project.cluster.name }}</td>
                    </tr>
                    <tr>
                        <td class="label_td">دانشگاه / موسسه:</td>
                        <td class="input_td">{{ project.cluster.institute }}</td>
                    </tr>
                    <tr>
                        <td class="label_td">سرخوشه:</td>
                        <td class="input_td">{{ project.cluster.head }}</td>
                    </tr>
                    <tr>
                        <td class="label_td">حوزه های فعالیت:</td>
                        <td class="input_td">{{ project.cluster.domains|show_m2m }}</td>
                    </tr>
                    <tr>
                        <td class="label_td">اعضای خوشه:</td>
                        <td class="input_td">{{ project.cluster.members|show_m2m }}</td>
                    </tr>

                </table>
            {% endif %}
        </fieldset>
    {% endif %}
{% endblock %}
{% block after_main %}
    {% if not inline_form.forms %}
        <fieldset class="formset_fieldset">
            <legend>موعدهای طرح</legend>
            <div>موعدی تعیین نشده است.</div>
        </fieldset>
    {% else %}
        {% if inline_form.readonly %}
            {% include 'formset.html' with legend="موعدهای طرح" formset=inline_form cluster=cluster %}
        {% else %}
        <form action="" method="post" enctype="multipart/form-data" id="register_form" class="js-validation-from">
            {% csrf_token %}
            {% include 'formset.html' with legend="موعدهای طرح" formset=inline_form cluster=cluster %}
            <div class="button_holder">
                <input type="submit" value="ثبت" name="register-submit">
            </div>
        </form>
        {% endif %}
    {% endif %}
    {% if has_comments %}
        <fieldset class="inner_fieldset">
            <legend>توضیح ها</legend>
            <ul class="comment-list">
                {% for comment in comments %}

                    <li class="comment {% cycle 'odd' 'even' %}">
                        <div class="comment-user">
                            {{ comment.user|show_user_for_project_comments }}
                        </div>
                        <div class="comment-date">
                            {{ comment.created_on|pdate_if_date }}
                        </div>
                        {% if user|is_admin and comment.user|is_arbiter %}
                            <div class="seen-by-member">
                                <label>
                                    <input type="checkbox"
                                            {% if comment.seen_by_member|is_true %} checked="checked"{% endif %}
                                           class="seen-by-member-input"/>
                                    <input type="hidden" name="comment-id" value="{{ comment.id }}">
                                    مشاهده توسط متقاضی
                                    <img src="/static/images/ajax.gif" hidden="hidden">
                                </label>
                            </div>
                        {% endif %}
                        <div class="comment-text">
                            <p>{{ comment.comment }}</p>
                        </div>
                    </li>
                {% endfor %}
            </ul>
            <form action="" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <table class="register_table">
                    <tr>
                        <td class="input_td">
                            <textarea id="project-comment-text" name="project-comment-text" cols="40" rows="10"
                                      placeholder="متن توضیح مورد نظر خود را وارد نمایید"></textarea>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="button_holder">
                                <input type="submit" value="ثبت" name="register-submit">
                            </div>
                        </td>
                    </tr>
                </table>
            </form>
        </fieldset>
    {% endif %}
{% endblock %}