{% extends 'manager/actions/show.html' %}
{% load account_template_tags %}
{% block before_main %}
    {% include 'messages.html' %}
    {% if project %}
        <fieldset>
            {% if project.single_member %}
                <legend>اطلاعات ارائه دهنده طرح</legend>
                <table>
                    <tr>
                        <td class="label_td">نام و نام خانوادگی:</td>
                        <td class="input_td">{{ project.single_member.user }}</td>
                    </tr>
                </table>
            {% else %}
                <legend>اطلاعات خوشه</legend>
                <table>
                    <tr>
                        <td class="label_td">نام خوشه:</td>
                        <td class="input_td">{{ project.cluster.name }}</td>
                    </tr>
                    <tr>
                        <td class="label_td">دانشگاه / موسسه:</td>
                        <td class="input_td">{{ project.cluster.institute }}</td>
                    </tr>
                    <tr>
                        <td class="label_td">سرخوشه:</td>
                        <td class="input_td">{{ project.cluster.head }}</td>
                    </tr>
                    <tr>
                        <td class="label_td">حوزه های فعالیت:</td>
                        <td class="input_td">{{ project.cluster.domains|show_m2m }}</td>
                    </tr>
                    <tr>
                        <td class="label_td">اعضای خوشه:</td>
                        <td class="input_td">{{ project.cluster.user_domains|show_m2m }}</td>
                    </tr>

                </table>
            {% endif %}
        </fieldset>
    {% endif %}
{% endblock %}
{% block after_main %}
    {% if inline_form %}
        {% include 'formset.html' with legend="موعدهای طرح" formset=inline_form cluster=cluster %}
    {% endif %}
    <fieldset class="inner_fieldset">
        <legend>کامنت ها</legend>
        <ul class="comment-list">
            {% for comment in comments %}

                <li class="comment {% cycle 'odd' 'even' %}">
                    <div class="comment-user">
                        {{ comment.user }}
                    </div>
                    <div class="comment-date">
                        {{ comment.created_on|pdate_if_date }}
                    </div>
                    <div class="comment-text">
                        <p>{{ comment.comment }}</p>
                    </div>
                </li>
            {% endfor %}
        </ul>
        <form action="" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <table class="register_table">
                <tr>
                    <td class="input_td">
                        <textarea id="project-comment-text" name="project-comment-text" cols="40" rows="10"
                                  placeholder="متن کامنت مورد نظر خود را وارد نمایید"></textarea>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="button_holder">
                            <input type="submit" value="ثبت" name="register-submit">
                        </div>
                    </td>
                </tr>
            </table>
        </form>
    </fieldset>
{% endblock %}